<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- 



      Capital Latin 



    -->
    <key>@MMK_L_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Atilde</string>
      <string>Aring</string>
    </array>
    <key>@MMK_R_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Atilde</string>
      <string>Aring</string>
    </array>
    <key>@MMK_L_B</key>
    <array>
      <string>B</string>
    </array>
    <key>@MMK_R_B</key>
    <array>
      <string>B</string>
    </array>
    <key>@MMK_L_AE</key>
    <array>
      <string>AE</string>
      <string>OE</string>
    </array>
    <key>@MMK_R_AE</key>
    <array>
      <string>AE</string>
      <string>OE</string>
    </array>
    <key>@MMK_L_C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Euro</string>
    </array>
    <key>@MMK_L_G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>@MMK_R_C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Euro</string>
    </array>
    <key>@MMK_R_G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>@MMK_L_I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>@MMK_R_I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>@MMK_R_J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>@MMK_L_J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>@MMK_R_Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>@MMK_L_E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>

    </array>
    <key>@MMK_R_E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>

    </array>
    <key>@MMK_L_H</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
    </array>
    <key>@MMK_R_H</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
    </array>
    <key>@MMK_L_D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>

      <string>Eth</string>
      
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>

    </array>
    <key>@MMK_R_D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>

      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
    </array>
    <key>@MMK_L_P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
    </array>
    <key>@MMK_R_P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
    </array>
    <key>@MMK_L_R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>@MMK_R_R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>@MMK_L_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>@MMK_R_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>@MMK_L_M</key>
    <array>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>@MMK_R_M</key>
    <array>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>@MMK_L_F</key>
    <array>
      <string>F</string>
    </array>
    <key>@MMK_R_F</key>
    <array>
      <string>F</string>
    </array>
    <key>@MMK_L_K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>@MMK_R_K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>@MMK_L_L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>@MMK_R_L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>@MMK_L_T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>uni021A</string>
      <string>Tbar</string>
    </array>
    <key>@MMK_R_T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>uni021A</string>
      <string>Tbar</string>
    </array>
    <key>@MMK_L_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Utilde</string>
      <string>Uring</string>
    </array>
    <key>@MMK_R_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Utilde</string>
      <string>Uring</string>
    </array>
    <key>@MMK_L_V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>V_alt</string>
      <string>yen</string>
    </array>
    <key>@MMK_R_V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>V_alt</string>
      <string>yen</string>
    </array>
    
    <key>@MMK_L_Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>@MMK_R_Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>@MMK_L_X</key>
    <array>
      <string>X</string>
    </array>
    <key>@MMK_R_X</key>
    <array>
      <string>X</string>
    </array>
    <!-- 



      Capital Greek



    -->
    <key>@MMK_L_Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Deltagreek</string>
      <string>Lambda</string>
      <string>lambda</string>
      <string>lambda_lambda</string>
    </array>
    <key>@MMK_R_Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Deltagreek</string>
      <string>Lambda</string>
      <string>lambda</string>
      <string>lambda_lambda</string>
    </array>
    <key>@MMK_L_Beta</key>
    <array>
      <string>Beta</string>
    </array>
    <key>@MMK_R_Beta</key>
    <array>
      <string>Beta</string>
    </array>
    <key>@MMK_L_Epsilon</key>
    <array>
      <string>Epsilon</string>
      <string>Epsilontonos</string>
      <!-- <string>Sigma</string> -->
    </array>
    <key>@MMK_R_Epsilon</key>
    <array>
      <string>Epsilon</string>
      <string>Epsilontonos</string>
      <!-- <string>Sigma</string> -->
    </array>
    <key>@MMK_L_Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
    </array>
    <key>@MMK_R_Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
    </array>
    <key>@MMK_L_Chi</key>
    <array>
      <string>Chi</string>
      <string>Zeta</string>
    </array>
    <key>@MMK_R_Chi</key>
    <array>
      <string>Chi</string>
      <string>Zeta</string>
    </array>
    <key>@MMK_R_Xi</key>
    <array>
      <string>Xi</string>
      <string>Sigma</string>
    </array>
    <key>@MMK_L_Xi</key>
    <array>
      <string>Xi</string>
      <string>Sigma</string>
    </array>
    <key>@MMK_L_Mu</key>
    <array>
      <string>Mu</string>
      <string>Eta</string>
      <string>Etatonos</string>
      <string>Nu</string>
      <string>Pi</string>
    </array>
    <key>@MMK_R_Mu</key>
    <array>
      <string>Mu</string>
      <string>Eta</string>
      <string>Etatonos</string>
      <string>Nu</string>
      <string>Pi</string>
    </array>
    <key>@MMK_L_Psi</key>
    <array>
      <string>Psi</string>
    </array>
    <key>@MMK_R_Psi</key>
    <array>
      <string>Psi</string>
    </array>
    <key>@MMK_L_Kappa</key>
    <array>
      <string>Kappa</string>
    </array>
    <key>@MMK_R_Kappa</key>
    <array>
      <string>Kappa</string>
    </array>
    <key>@MMK_L_Omicron</key>
    <array>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Theta</string>
      <string>Phi</string>
    </array>
    <key>@MMK_R_Omicron</key>
    <array>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Theta</string>
      <string>Phi</string>
    </array>
    <key>@MMK_L_Omegagreek</key>
    <array>
      <string>Omegagreek</string>
      <string>Omegatonos</string>
    </array>
    <key>@MMK_R_Omegagreek</key>
    <array>
      <string>Omegagreek</string>
      <string>Omegatonos</string>
    </array>
    <key>@MMK_L_Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
    </array>
    <key>@MMK_R_Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
    </array>
    <key>@MMK_L_Rho</key>
    <array>
      <string>Rho</string>
    </array>
    <key>@MMK_R_Rho</key>
    <array>
      <string>Rho</string>
    </array>
    <key>@MMK_L_Gamma</key>
    <array>
      <string>Gamma</string>
    </array>
    <key>@MMK_R_Gamma</key>
    <array>
      <string>Gamma</string>
    </array>
    <key>@MMK_L_Tau</key>
    <array>
      <string>Tau</string>
    </array>
    <key>@MMK_R_Tau</key>
    <array>
      <string>Tau</string>
    </array>
    <!-- 



      SmallCase Latin 



    -->
    <key>@MMK_L_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>atilde</string>
      <string>aring</string>
    </array>
    <key>@MMK_R_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>atilde</string>
      <string>aring</string>
    </array>
    <key>@MMK_L_b</key>
    <array>
      <string>b</string>
    </array>
    <key>@MMK_R_b</key>
    <array>
      <string>b</string>
    </array>

    <key>@MMK_L_f</key>
    <array>
      <string>f</string>
    </array>
    <key>@MMK_R_f</key>
    <array>
      <string>f</string>
    </array>
    <key>@MMK_L_fl</key>
    <array>
      <string>fl</string>
      <string>ffl</string>
    </array>
    <key>@MMK_R_fl</key>
    <array>
      <string>fl</string>
      <string>ffl</string>
    </array>
    <key>@MMK_L_t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tbar</string>
      <string>uni021B</string>
      
      <string>t_t</string>
    </array>
    <key>@MMK_R_t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tbar</string>
      <string>uni021B</string>
      
      <string>t_t</string>
    </array>
    <key>@MMK_R_c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cent</string>
      
    </array>
    <key>@MMK_L_c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cent</string>
    </array>
    <key>@MMK_L_e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
    </array>
    <key>@MMK_R_e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
    </array>
    <key>@MMK_L_o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oslash</string>
    </array>
    <key>@MMK_R_o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oslash</string>
    </array>
    <key>@MMK_L_p</key>
    <array>
      <string>p</string>
    </array>
    <key>@MMK_R_p</key>
    <array>
      <string>p</string>
    </array>
    <key>@MMK_L_x</key>
    <array>
      <string>x</string>
    </array>
    <key>@MMK_R_x</key>
    <array>
      <string>x</string>
    </array>
    <key>@MMK_L_q</key>
    <array>
      <string>q</string>
    </array>
    <key>@MMK_R_q</key>
    <array>
      <string>q</string>
    </array>
    <key>@MMK_L_ae</key>
    <array>
      <string>ae</string>
      <string>oe</string>
    </array>
    <key>@MMK_R_ae</key>
    <array>
      <string>ae</string>
      <string>oe</string>
    </array>
    <key>@MMK_L_ampersand</key>
    <array>
      <string>ampersand</string>
      <string>germandbls</string>
    </array>
    <key>@MMK_R_ampersand</key>
    <array>
      <string>ampersand</string>
      <string>germandbls</string>
    </array>

    <key>@MMK_L_d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>eth</string>
      <string>dcroat</string>
      
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
    </array>
    <key>@MMK_R_d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>eth</string>
      <string>dcroat</string>
    </array>
    <key>@MMK_L_m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>@MMK_R_m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>@MMK_L_i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>

    </array>
    <key>@MMK_R_i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>

    </array>
    <key>@MMK_L_t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tbar</string>
      <string>uni021B</string>

    </array>
    <key>@MMK_R_t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tbar</string>
      <string>uni021B</string>
    </array>
    <key>@MMK_L_g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>@MMK_R_g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>@MMK_L_h</key>
    <array>
      <string>h</string>
      <string>hcircumflex</string>
      <string>hbar</string>
    </array>
    <key>@MMK_R_h</key>
    <array>
      <string>h</string>
      <string>hcircumflex</string>
      <string>hbar</string>
    </array>
    <key>@MMK_L_k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>@MMK_R_k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>@MMK_R_l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
    </array>
    <key>@MMK_L_r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>@MMK_R_r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>@MMK_L_s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>@MMK_R_s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>@MMK_L_u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>utilde</string>
      <string>uring</string>
    </array>
    <key>@MMK_R_u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>utilde</string>
      <string>uring</string>
    </array>
    <key>@MMK_L_v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      
      <string>y_lower_alt</string>
      <string>w_w_w</string>
    </array>
    <key>@MMK_R_v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      
      <string>y_lower_alt</string>
      <string>w_w_w</string>
    </array>
    <key>@MMK_L_y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>

    </array>
    <key>@MMK_R_y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>

    </array>
    <key>@MMK_L_j</key>
    <array>
      <string>j</string>
      <string>jcircumflex</string>

    </array>
    <key>@MMK_R_j</key>
    <array>
      <string>j</string>
      <string>jcircumflex</string>

    </array>
    <key>@MMK_L_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>@MMK_R_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <!-- 



      SmallCase Greek 



    -->
    <key>@MMK_L_alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
    </array>
    <key>@MMK_R_alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
    </array>
    <key>@MMK_L_iota</key>
    <array>
      <string>iota</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
      <string>iotatonos</string>

      <string>dotlessi</string>
    </array>
    <key>@MMK_R_iota</key>
    <array>
      <string>iota</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
      <string>iotatonos</string>

      <string>dotlessi</string>
    </array>
    <key>@MMK_L_omicron</key>
    <array>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>psi</string>
      <!-- <string>sigma</string> -->
      
    </array>
    <key>@MMK_R_omicron</key>
    <array>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>psi</string>
      <!-- <string>sigma</string> -->

    </array>
    <key>@MMK_L_sigma</key>
    <array>
      <string>sigma</string>
    </array>
    <key>@MMK_R_sigma</key>
    <array>
      <string>sigma</string>
    </array>
    <key>@MMK_L_omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
      <string>phi</string>
    </array>
    <key>@MMK_R_omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
      <string>phi</string>
    </array>
    <key>@MMK_L_theta</key>
    <array>
      <string>theta</string>
    </array>
    <key>@MMK_R_theta</key>
    <array>
      <string>theta</string>
    </array>
    <key>@MMK_L_beta</key>
    <array>
      <string>beta</string>
    </array>
    <key>@MMK_R_beta</key>
    <array>
      <string>beta</string>
    </array>
    <key>@MMK_L_delta</key>
    <array>
      <string>delta</string>
    </array>
    <key>@MMK_R_delta</key>
    <array>
      <string>delta</string>
    </array>
    <key>@MMK_L_xi</key>
    <array>
      <string>xi</string>
      <string>zeta</string>
    </array>
    <key>@MMK_R_xi</key>
    <array>
      <string>xi</string>
      <string>zeta</string>
    </array>
    <key>@MMK_L_chi</key>
    <array>
      <string>chi</string>
    </array>
    <key>@MMK_R_chi</key>
    <array>
      <string>chi</string>
    </array>
    <key>@MMK_L_upsilon</key>
    <array>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
    </array>
    <key>@MMK_R_upsilon</key>
    <array>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
    </array>
    <key>@MMK_L_epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>@MMK_R_epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>@MMK_L_kappa</key>
    <array>
      <string>kappa</string>
      <string>gamma_kappa</string>
    </array>
    <key>@MMK_R_kappa</key>
    <array>
      <string>kappa</string>
    </array>
    <key>@MMK_L_gamma</key>
    <array>
      <string>gamma</string>
      <string>gamma_gamma</string>
    </array>
    <key>@MMK_R_gamma</key>
    <array>
      <string>gamma</string>
      <string>gamma_gamma</string>
      <string>gamma_kappa</string>
    </array>
    <key>@MMK_L_nu</key>
    <array>
      <string>nu</string>
      <string>tau</string>
    </array>
    <key>@MMK_R_nu</key>
    <array>
      <string>nu</string>
      <string>tau</string>
    </array>
    <key>@MMK_L_eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>@MMK_R_eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>@MMK_L_mugreek</key>
    <array>
      <string>mugreek</string>
      <string>mu</string>
    </array>
    <key>@MMK_R_mugreek</key>
    <array>
      <string>mugreek</string>
      <string>mu</string>
    </array>
    <key>@MMK_L_pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>@MMK_R_pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>@MMK_L_rho</key>
    <array>
      <string>rho</string>
    </array>
    <key>@MMK_R_rho</key>
    <array>
      <string>rho</string>
    </array>
    <!-- 



      Symbols



    -->
    <key>@MMK_L_asciitilde</key>
    <array>
      <string>asciitilde</string>
      <string>currency</string>
      <string>bullet</string>
      <string>divide</string>
      <string>equal</string>
      <string>underscore</string>
      <string>greater</string>
      <string>less</string>
      <string>plusminus</string>
      <string>plus</string>
      <string>numbersign</string>
      <string>multiply</string>
      <string>guillemotright</string>
    </array>
    <key>@MMK_R_asciitilde</key>
    <array>
      <string>asciitilde</string>
      <string>currency</string>
      <string>bullet</string>
      <string>divide</string>
      <string>equal</string>
      <string>underscore</string>
      <string>greater</string>
      <string>less</string>
      <string>plusminus</string>
      <string>plus</string>
      <string>numbersign</string>
      <string>multiply</string>
      <string>guillemotright</string>
    </array>
    <key>@MMK_L_bar</key>
    <array>
      <string>bar</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenright</string>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>questiondown</string>
      <string>question</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>backslash</string>
      <string>paragraph</string>

    </array>
    <key>@MMK_R_bar</key>
    <array>
      <string>bar</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenright</string>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>questiondown</string>
      <string>question</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>backslash</string>
      <string>paragraph</string>
    </array>
    <key>@MMK_L_quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotesingle</string>
      <string>quotedblbase</string>
      <string>commaturnedabove</string>
    </array>
    <key>@MMK_R_quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotesingle</string>
      <string>quotedblbase</string>
      <string>commaturnedabove</string>
    </array>
    <key>@MMK_L_percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>@MMK_R_percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>@MMK_L_at</key>
    <array>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>@MMK_R_at</key>
    <array>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>@MMK_L_asterisk</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>ordfeminine</string>
      <string>trademark</string>
    </array>
    <key>@MMK_R_asterisk</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>ordfeminine</string>
      <string>trademark</string>
    </array>
    <key>@MMK_R_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>hyphen</string>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>@MMK_L_fraction</key>
    <array>
      <string>fraction</string>
      <string>slash</string>
    </array>
    <key>@MMK_R_fraction</key>
    <array>
      <string>fraction</string>
      <string>slash</string>
    </array>
    <!-- 



      Numbers



    -->
    <!-- 
      eight
      five
      four
      nine
      one
      seven
      six
      three
      two
    -->
    <key>@MMK_L_eight</key>
    <array>
      <string>eight</string>
      <string>five</string>
      <string>four</string>
      <string>nine</string>
      <string>one</string>
      <string>seven</string>
      <string>six</string>
      <string>three</string>
      <string>two</string>
      <string>zero</string>
    </array>
    <key>@MMK_R_eight</key>
    <array>
      <string>eight</string>
      <string>five</string>
      <string>four</string>
      <string>nine</string>
      <string>one</string>
      <string>seven</string>
      <string>six</string>
      <string>three</string>
      <string>two</string>
      <string>zero</string>
    </array>

  </dict>
</plist>
