/_planning
/_scripts
_old*
_old/
_added*
_added/
/font_source/_old*
/font_source/_old/
/font_source/EFO_class_comp*
/font_source/EFO_class_comp/
/docs/kerning_adjustments/screens/_old*
/docs/kerning_adjustments/screens/_old/
__pycache__*
__pycache__/
temp*
temp/
*.pyc
*.pyo
.DS_Store
/font_source/EFO/groups/_old*
/font_source/EFO/groups/_old/

/font_source/UFOs/older_versions
font_source/UFOs/older_versions

README/*.py
README/__pycache__
README/_junk
README/Lib
README/partials
README/*.md
README/*.sh
README/version

/PREVIEW