/* Webfont: adventpro-SemiBoldItalic */@font-face {
    font-family: 'adventprofmmThin';
    src: url('adventpro-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('adventpro-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

