<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>gamma_gamma</key>
  <dict>
    <key>gamma_kappa</key>
    <integer>-1</integer>
  </dict>
  <key>lambda_lambda</key>
  <dict>
    <key>gamma_gamma</key>
    <integer>-1</integer>
  </dict>
  <key>sigma_tau</key>
  <dict>
    <key>lambda_lambda</key>
    <integer>-1</integer>
  </dict>
  <key>Upsilon_alt</key>
  <dict>
    <key>Upsilondieresis</key>
    <integer>-1</integer>
  </dict>
  <key>Yacute_alt</key>
  <dict>
    <key>yacute_alt</key>
    <integer>-1</integer>
  </dict>
  <key>Ydieresis_alt</key>
  <dict>
    <key>Yacute_alt</key>
    <integer>-1</integer>
  </dict>
  <key>y_alt</key>
  <dict>
    <key>Ydieresis_alt</key>
    <integer>-1</integer>
  </dict>
  <key>Y_alt</key>
  <dict>
    <key>y_alt</key>
    <integer>-1</integer>
  </dict>
  <key>Upsilondieresis</key>
  <dict>
    <key>dotlessi</key>
    <integer>-1</integer>
  </dict>
  <key>f_f_l</key>
  <dict>
    <key>f_i</key>
    <integer>-1</integer>
  </dict>
  <key>f_i</key>
  <dict>
    <key>Upsilon_alt</key>
    <integer>-1</integer>
  </dict>
  <key>f_f</key>
  <dict>
    <key>f_f_l</key>
    <integer>-1</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>quoteright</key>
    <integer>-95</integer>
    <key>t</key>
    <integer>-18</integer>
    <key>s</key>
    <integer>-74</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>quoteleft</key>
    <integer>-95</integer>
  </dict>
  <key>omegatonos</key>
  <dict>
    <key>upsilontonos</key>
    <integer>-1</integer>
  </dict>
  <key>upsilontonos</key>
  <dict>
    <key>omicrontonos</key>
    <integer>-1</integer>
    <key>uring</key>
    <integer>-1</integer>
  </dict>
  <key>omicrontonos</key>
  <dict>
    <key>upsilontonos</key>
    <integer>-1</integer>
    <key>alphatonos</key>
    <integer>-1</integer>
  </dict>
  <key>upsilondieresis</key>
  <dict>
    <key>upsilondieresistonos</key>
    <integer>-1</integer>
  </dict>
  <key>psi</key>
  <dict>
    <key>omega</key>
    <integer>-1</integer>
  </dict>
  <key>phi</key>
  <dict>
    <key>chi</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
  </dict>
  <key>upsilon</key>
  <dict>
    <key>upsilondieresis</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>Upsilon</key>
    <integer>-1</integer>
  </dict>
  <key>tau</key>
  <dict>
    <key>omicrontonos</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>Sigma</key>
    <integer>-1</integer>
  </dict>
  <key>sigma</key>
  <dict>
    <key>chi</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
  </dict>
  <key>rho</key>
  <dict>
    <key>sigma</key>
    <integer>-1</integer>
    <key>Pi</key>
    <integer>-1</integer>
  </dict>
  <key>pi</key>
  <dict>
    <key>rho</key>
    <integer>-1</integer>
  </dict>
  <key>omicron</key>
  <dict>
    <key>gamma_kappa</key>
    <integer>-1</integer>
    <key>gamma_gamma</key>
    <integer>-1</integer>
    <key>lambda_lambda</key>
    <integer>-1</integer>
    <key>sigma_tau</key>
    <integer>-1</integer>
    <key>sigma_chi</key>
    <integer>-1</integer>
    <key>yacute_alt</key>
    <integer>-1</integer>
    <key>Yacute_alt</key>
    <integer>-1</integer>
    <key>Ydieresis_alt</key>
    <integer>-1</integer>
    <key>Y_alt</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
    <key>pi</key>
    <integer>-1</integer>
    <key>xi</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
    <key>Psi</key>
    <integer>-1</integer>
    <key>Tau</key>
    <integer>-1</integer>
    <key>Xi</key>
    <integer>-1</integer>
    <key>Nu</key>
    <integer>-1</integer>
    <key>Gamma</key>
    <integer>-1</integer>
  </dict>
  <key>xi</key>
  <dict>
    <key>gamma_kappa</key>
    <integer>-1</integer>
    <key>gamma_gamma</key>
    <integer>-1</integer>
    <key>lambda_lambda</key>
    <integer>-1</integer>
    <key>sigma_tau</key>
    <integer>-1</integer>
    <key>sigma_chi</key>
    <integer>-1</integer>
    <key>dotlessj</key>
    <integer>-1</integer>
    <key>Upsilon_alt</key>
    <integer>-1</integer>
    <key>ydieresis_alt</key>
    <integer>-1</integer>
    <key>yacute_alt</key>
    <integer>-1</integer>
    <key>Yacute_alt</key>
    <integer>-1</integer>
    <key>Ydieresis_alt</key>
    <integer>-1</integer>
    <key>y_alt</key>
    <integer>-1</integer>
    <key>Y_alt</key>
    <integer>-1</integer>
    <key>t_t</key>
    <integer>-1</integer>
    <key>w_w_w</key>
    <integer>-1</integer>
    <key>Upsilondieresis</key>
    <integer>-1</integer>
    <key>increment</key>
    <integer>-1</integer>
    <key>OHM SIGN</key>
    <integer>-1</integer>
    <key>omegatonos</key>
    <integer>-1</integer>
    <key>upsilontonos</key>
    <integer>-1</integer>
    <key>omicrontonos</key>
    <integer>-1</integer>
    <key>upsilondieresis</key>
    <integer>-1</integer>
    <key>iotadieresis</key>
    <integer>-1</integer>
    <key>omega</key>
    <integer>-1</integer>
    <key>psi</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
    <key>rho</key>
    <integer>-1</integer>
    <key>pi</key>
    <integer>-1</integer>
    <key>omicron</key>
    <integer>-1</integer>
    <key>xi</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>lambda</key>
    <integer>-1</integer>
    <key>kappa</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>eta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>epsilon</key>
    <integer>-1</integer>
    <key>delta</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
    <key>beta</key>
    <integer>-1</integer>
    <key>alpha</key>
    <integer>-1</integer>
    <key>upsilondieresistonos</key>
    <integer>-1</integer>
    <key>iotatonos</key>
    <integer>-1</integer>
    <key>etatonos</key>
    <integer>-1</integer>
    <key>epsilontonos</key>
    <integer>-1</integer>
    <key>alphatonos</key>
    <integer>-1</integer>
    <key>Iotadieresis</key>
    <integer>-1</integer>
    <key>Psi</key>
    <integer>-1</integer>
    <key>Phi</key>
    <integer>-1</integer>
    <key>Upsilon</key>
    <integer>-1</integer>
    <key>Tau</key>
    <integer>-1</integer>
    <key>Rho</key>
    <integer>-1</integer>
    <key>Pi</key>
    <integer>-1</integer>
    <key>Omicron</key>
    <integer>-1</integer>
    <key>Xi</key>
    <integer>-1</integer>
    <key>Nu</key>
    <integer>-1</integer>
    <key>Mu</key>
    <integer>-1</integer>
    <key>Lambda</key>
    <integer>-1</integer>
    <key>Kappa</key>
    <integer>-1</integer>
    <key>Iota</key>
    <integer>-1</integer>
    <key>Theta</key>
    <integer>-1</integer>
    <key>Eta</key>
    <integer>-1</integer>
    <key>Zeta</key>
    <integer>-1</integer>
    <key>Epsilon</key>
    <integer>-1</integer>
    <key>Gamma</key>
    <integer>-1</integer>
    <key>Beta</key>
    <integer>-1</integer>
    <key>iotadieresistonos</key>
    <integer>-1</integer>
    <key>Omegatonos</key>
    <integer>-1</integer>
    <key>Omicrontonos</key>
    <integer>-1</integer>
    <key>scommaaccent</key>
    <integer>-1</integer>
    <key>Scommaaccent</key>
    <integer>-1</integer>
    <key>zdotaccent</key>
    <integer>-1</integer>
    <key>Zdotaccent</key>
    <integer>-1</integer>
    <key>zacute</key>
    <integer>-1</integer>
    <key>Zacute</key>
    <integer>-1</integer>
    <key>uogonek</key>
    <integer>-1</integer>
    <key>Uogonek</key>
    <integer>-1</integer>
    <key>uhungarumlaut</key>
    <integer>-1</integer>
    <key>Uhungarumlaut</key>
    <integer>-1</integer>
    <key>uring</key>
    <integer>-1</integer>
    <key>Uring</key>
    <integer>-1</integer>
    <key>ubreve</key>
    <integer>-1</integer>
    <key>Ubreve</key>
    <integer>-1</integer>
    <key>umacron</key>
    <integer>-1</integer>
    <key>Umacron</key>
    <integer>-1</integer>
    <key>utilde</key>
    <integer>-1</integer>
    <key>Utilde</key>
    <integer>-1</integer>
    <key>tbar</key>
    <integer>-1</integer>
    <key>Tbar</key>
    <integer>-1</integer>
    <key>tcaron</key>
    <integer>-1</integer>
    <key>Tcaron</key>
    <integer>-1</integer>
    <key>tcommaaccent</key>
    <integer>-1</integer>
    <key>Tcommaaccent</key>
    <integer>-1</integer>
    <key>scedilla</key>
    <integer>-1</integer>
    <key>scircumflex</key>
    <integer>-1</integer>
    <key>Scircumflex</key>
    <integer>-1</integer>
    <key>sacute</key>
    <integer>-1</integer>
    <key>Sacute</key>
    <integer>-1</integer>
    <key>rcaron</key>
    <integer>-1</integer>
    <key>Rcaron</key>
    <integer>-1</integer>
    <key>rcommaaccent</key>
    <integer>-1</integer>
    <key>Rcommaaccent</key>
    <integer>-1</integer>
    <key>racute</key>
    <integer>-1</integer>
    <key>Racute</key>
    <integer>-1</integer>
    <key>ohungarumlaut</key>
    <integer>-1</integer>
    <key>Ohungarumlaut</key>
    <integer>-1</integer>
    <key>omacron</key>
    <integer>-1</integer>
    <key>Omacron</key>
    <integer>-1</integer>
    <key>eng</key>
    <integer>-1</integer>
    <key>Eng</key>
    <integer>-1</integer>
    <key>ncaron</key>
    <integer>-1</integer>
    <key>Ncaron</key>
    <integer>-1</integer>
    <key>ncommaaccent</key>
    <integer>-1</integer>
    <key>Ncommaaccent</key>
    <integer>-1</integer>
    <key>nacute</key>
    <integer>-1</integer>
    <key>Nacute</key>
    <integer>-1</integer>
    <key>Lcaron</key>
    <integer>-1</integer>
    <key>Lcommaaccent</key>
    <integer>-1</integer>
    <key>lacute</key>
    <integer>-1</integer>
    <key>Lacute</key>
    <integer>-1</integer>
    <key>kgreenlandic</key>
    <integer>-1</integer>
    <key>kcommaaccent</key>
    <integer>-1</integer>
    <key>Kcommaaccent</key>
    <integer>-1</integer>
    <key>dotlessi</key>
    <integer>-1</integer>
    <key>Iogonek</key>
    <integer>-1</integer>
    <key>itilde</key>
    <integer>-1</integer>
    <key>hbar</key>
    <integer>-1</integer>
    <key>Hbar</key>
    <integer>-1</integer>
    <key>hcircumflex</key>
    <integer>-1</integer>
    <key>Hcircumflex</key>
    <integer>-1</integer>
    <key>gcommaaccent</key>
    <integer>-1</integer>
    <key>Gcommaaccent</key>
    <integer>-1</integer>
    <key>gdotaccent</key>
    <integer>-1</integer>
    <key>Gdotaccent</key>
    <integer>-1</integer>
    <key>gbreve</key>
    <integer>-1</integer>
    <key>Gbreve</key>
    <integer>-1</integer>
    <key>gcircumflex</key>
    <integer>-1</integer>
    <key>Gcircumflex</key>
    <integer>-1</integer>
    <key>ecaron</key>
    <integer>-1</integer>
    <key>Ecaron</key>
    <integer>-1</integer>
    <key>eogonek</key>
    <integer>-1</integer>
    <key>Eogonek</key>
    <integer>-1</integer>
    <key>edotaccent</key>
    <integer>-1</integer>
    <key>Edotaccent</key>
    <integer>-1</integer>
    <key>emacron</key>
    <integer>-1</integer>
    <key>Emacron</key>
    <integer>-1</integer>
    <key>dslash</key>
    <integer>-1</integer>
    <key>Dcroat</key>
    <integer>-1</integer>
    <key>dcaron</key>
    <integer>-1</integer>
    <key>Dcaron</key>
    <integer>-1</integer>
    <key>ccaron</key>
    <integer>-1</integer>
    <key>Ccaron</key>
    <integer>-1</integer>
    <key>cdotaccent</key>
    <integer>-1</integer>
    <key>Cdotaccent</key>
    <integer>-1</integer>
    <key>ccircumflex</key>
    <integer>-1</integer>
    <key>Ccircumflex</key>
    <integer>-1</integer>
    <key>cacute</key>
    <integer>-1</integer>
    <key>Cacute</key>
    <integer>-1</integer>
    <key>aogonek</key>
    <integer>-1</integer>
    <key>abreve</key>
    <integer>-1</integer>
    <key>amacron</key>
    <integer>-1</integer>
  </dict>
  <key>nu</key>
  <dict>
    <key>xi</key>
    <integer>-1</integer>
  </dict>
  <key>uni03BC</key>
  <dict>
    <key>nu</key>
    <integer>-1</integer>
  </dict>
  <key>lambda</key>
  <dict>
    <key>uni03BC</key>
    <integer>-1</integer>
  </dict>
  <key>eta</key>
  <dict>
    <key>theta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
  </dict>
  <key>zeta</key>
  <dict>
    <key>gamma_kappa</key>
    <integer>-1</integer>
    <key>gamma_gamma</key>
    <integer>-1</integer>
    <key>lambda_lambda</key>
    <integer>-1</integer>
    <key>sigma_tau</key>
    <integer>-1</integer>
    <key>sigma_chi</key>
    <integer>-1</integer>
    <key>Upsilon_alt</key>
    <integer>-1</integer>
    <key>ydieresis_alt</key>
    <integer>-1</integer>
    <key>yacute_alt</key>
    <integer>-1</integer>
    <key>Yacute_alt</key>
    <integer>-1</integer>
    <key>Ydieresis_alt</key>
    <integer>-1</integer>
    <key>y_alt</key>
    <integer>-1</integer>
    <key>Y_alt</key>
    <integer>-1</integer>
    <key>w_w_w</key>
    <integer>-1</integer>
    <key>Upsilondieresis</key>
    <integer>-1</integer>
    <key>increment</key>
    <integer>-1</integer>
    <key>OHM SIGN</key>
    <integer>-1</integer>
    <key>omegatonos</key>
    <integer>-1</integer>
    <key>upsilontonos</key>
    <integer>-1</integer>
    <key>omicrontonos</key>
    <integer>-1</integer>
    <key>upsilondieresis</key>
    <integer>-1</integer>
    <key>omega</key>
    <integer>-1</integer>
    <key>psi</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
    <key>rho</key>
    <integer>-1</integer>
    <key>pi</key>
    <integer>-1</integer>
    <key>omicron</key>
    <integer>-1</integer>
    <key>xi</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>lambda</key>
    <integer>-1</integer>
    <key>kappa</key>
    <integer>-1</integer>
    <key>iota</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>eta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>epsilon</key>
    <integer>-1</integer>
    <key>delta</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
    <key>beta</key>
    <integer>-1</integer>
    <key>alpha</key>
    <integer>-1</integer>
    <key>upsilondieresistonos</key>
    <integer>-1</integer>
    <key>iotatonos</key>
    <integer>-1</integer>
    <key>etatonos</key>
    <integer>-1</integer>
    <key>epsilontonos</key>
    <integer>-1</integer>
    <key>alphatonos</key>
    <integer>-1</integer>
    <key>Psi</key>
    <integer>-1</integer>
    <key>Chi</key>
    <integer>-1</integer>
    <key>Phi</key>
    <integer>-1</integer>
    <key>Upsilon</key>
    <integer>-1</integer>
    <key>Sigma</key>
    <integer>-1</integer>
    <key>Rho</key>
    <integer>-1</integer>
    <key>Pi</key>
    <integer>-1</integer>
    <key>Omicron</key>
    <integer>-1</integer>
    <key>Nu</key>
    <integer>-1</integer>
    <key>Mu</key>
    <integer>-1</integer>
    <key>Lambda</key>
    <integer>-1</integer>
    <key>Kappa</key>
    <integer>-1</integer>
    <key>Theta</key>
    <integer>-1</integer>
    <key>Eta</key>
    <integer>-1</integer>
    <key>Zeta</key>
    <integer>-1</integer>
    <key>Epsilon</key>
    <integer>-1</integer>
    <key>Gamma</key>
    <integer>-1</integer>
    <key>Beta</key>
    <integer>-1</integer>
    <key>Alpha</key>
    <integer>-1</integer>
    <key>scommaaccent</key>
    <integer>-1</integer>
    <key>Scommaaccent</key>
    <integer>-1</integer>
    <key>uogonek</key>
    <integer>-1</integer>
    <key>Uogonek</key>
    <integer>-1</integer>
    <key>uhungarumlaut</key>
    <integer>-1</integer>
    <key>Uhungarumlaut</key>
    <integer>-1</integer>
    <key>uring</key>
    <integer>-1</integer>
    <key>umacron</key>
    <integer>-1</integer>
    <key>Umacron</key>
    <integer>-1</integer>
    <key>utilde</key>
    <integer>-1</integer>
    <key>Utilde</key>
    <integer>-1</integer>
    <key>scedilla</key>
    <integer>-1</integer>
    <key>scircumflex</key>
    <integer>-1</integer>
    <key>Scircumflex</key>
    <integer>-1</integer>
    <key>sacute</key>
    <integer>-1</integer>
    <key>Sacute</key>
    <integer>-1</integer>
    <key>ohungarumlaut</key>
    <integer>-1</integer>
    <key>Ohungarumlaut</key>
    <integer>-1</integer>
    <key>omacron</key>
    <integer>-1</integer>
    <key>Omacron</key>
    <integer>-1</integer>
    <key>Eng</key>
    <integer>-1</integer>
    <key>ncaron</key>
    <integer>-1</integer>
    <key>Ncaron</key>
    <integer>-1</integer>
    <key>ncommaaccent</key>
    <integer>-1</integer>
    <key>Ncommaaccent</key>
    <integer>-1</integer>
    <key>nacute</key>
    <integer>-1</integer>
    <key>Nacute</key>
    <integer>-1</integer>
    <key>Lcaron</key>
    <integer>-1</integer>
    <key>Lcommaaccent</key>
    <integer>-1</integer>
    <key>lacute</key>
    <integer>-1</integer>
    <key>Lacute</key>
    <integer>-1</integer>
    <key>kgreenlandic</key>
    <integer>-1</integer>
    <key>kcommaaccent</key>
    <integer>-1</integer>
    <key>Kcommaaccent</key>
    <integer>-1</integer>
    <key>dotlessi</key>
    <integer>-1</integer>
    <key>hbar</key>
    <integer>-1</integer>
    <key>Hbar</key>
    <integer>-1</integer>
    <key>hcircumflex</key>
    <integer>-1</integer>
    <key>Hcircumflex</key>
    <integer>-1</integer>
    <key>gcommaaccent</key>
    <integer>-1</integer>
    <key>Gcommaaccent</key>
    <integer>-1</integer>
    <key>gdotaccent</key>
    <integer>-1</integer>
    <key>Gdotaccent</key>
    <integer>-1</integer>
    <key>gbreve</key>
    <integer>-1</integer>
    <key>Gbreve</key>
    <integer>-1</integer>
    <key>gcircumflex</key>
    <integer>-1</integer>
    <key>Gcircumflex</key>
    <integer>-1</integer>
    <key>ecaron</key>
    <integer>-1</integer>
    <key>Ecaron</key>
    <integer>-1</integer>
    <key>eogonek</key>
    <integer>-1</integer>
    <key>Eogonek</key>
    <integer>-1</integer>
    <key>edotaccent</key>
    <integer>-1</integer>
    <key>Edotaccent</key>
    <integer>-1</integer>
    <key>emacron</key>
    <integer>-1</integer>
    <key>Emacron</key>
    <integer>-1</integer>
    <key>dslash</key>
    <integer>-1</integer>
    <key>Dcroat</key>
    <integer>-1</integer>
    <key>dcaron</key>
    <integer>-1</integer>
    <key>Dcaron</key>
    <integer>-1</integer>
    <key>ccaron</key>
    <integer>-1</integer>
    <key>Ccaron</key>
    <integer>-1</integer>
    <key>cdotaccent</key>
    <integer>-1</integer>
    <key>Cdotaccent</key>
    <integer>-1</integer>
    <key>ccircumflex</key>
    <integer>-1</integer>
    <key>Ccircumflex</key>
    <integer>-1</integer>
    <key>cacute</key>
    <integer>-1</integer>
    <key>Cacute</key>
    <integer>-1</integer>
    <key>aogonek</key>
    <integer>-1</integer>
    <key>Aogonek</key>
    <integer>-1</integer>
    <key>abreve</key>
    <integer>-1</integer>
    <key>Abreve</key>
    <integer>-1</integer>
    <key>amacron</key>
    <integer>-1</integer>
    <key>Amacron</key>
    <integer>-1</integer>
  </dict>
  <key>epsilon</key>
  <dict>
    <key>sigma</key>
    <integer>-1</integer>
    <key>omicron</key>
    <integer>-1</integer>
    <key>eta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>delta</key>
    <integer>-1</integer>
  </dict>
  <key>delta</key>
  <dict>
    <key>_394</key>
    <integer>-1</integer>
    <key>epsilon</key>
    <integer>-1</integer>
  </dict>
  <key>gamma</key>
  <dict>
    <key>delta</key>
    <integer>-1</integer>
  </dict>
  <key>beta</key>
  <dict>
    <key>omega</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
  </dict>
  <key>alpha</key>
  <dict>
    <key>omega</key>
    <integer>-1</integer>
    <key>psi</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
    <key>rho</key>
    <integer>-1</integer>
    <key>pi</key>
    <integer>-1</integer>
    <key>xi</key>
    <integer>-1</integer>
    <key>kappa</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>eta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>epsilon</key>
    <integer>-1</integer>
    <key>delta</key>
    <integer>-1</integer>
  </dict>
  <key>etatonos</key>
  <dict>
    <key>uni03BC</key>
    <integer>-1</integer>
    <key>epsilontonos</key>
    <integer>-1</integer>
  </dict>
  <key>epsilontonos</key>
  <dict>
    <key>omegatonos</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
  </dict>
  <key>alphatonos</key>
  <dict>
    <key>omega</key>
    <integer>-1</integer>
    <key>psi</key>
    <integer>-1</integer>
    <key>phi</key>
    <integer>-1</integer>
    <key>upsilon</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>rho</key>
    <integer>-1</integer>
    <key>pi</key>
    <integer>-1</integer>
    <key>omicron</key>
    <integer>-1</integer>
    <key>xi</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>lambda</key>
    <integer>-1</integer>
    <key>kappa</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>eta</key>
    <integer>-1</integer>
    <key>epsilon</key>
    <integer>-1</integer>
    <key>delta</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
    <key>beta</key>
    <integer>-1</integer>
    <key>alpha</key>
    <integer>-1</integer>
  </dict>
  <key>Psi</key>
  <dict>
    <key>Racute</key>
    <integer>-1</integer>
  </dict>
  <key>Chi</key>
  <dict>
    <key>phi</key>
    <integer>-1</integer>
  </dict>
  <key>Phi</key>
  <dict>
    <key>Pi</key>
    <integer>-1</integer>
  </dict>
  <key>Upsilon</key>
  <dict>
    <key>Upsilondieresis</key>
    <integer>-1</integer>
  </dict>
  <key>Tau</key>
  <dict>
    <key>tau</key>
    <integer>-1</integer>
  </dict>
  <key>Sigma</key>
  <dict>
    <key>sigma</key>
    <integer>-1</integer>
  </dict>
  <key>Rho</key>
  <dict>
    <key>rho</key>
    <integer>-1</integer>
    <key>Sacute</key>
    <integer>-1</integer>
  </dict>
  <key>Pi</key>
  <dict>
    <key>Psi</key>
    <integer>-1</integer>
    <key>Omicron</key>
    <integer>-1</integer>
  </dict>
  <key>Mu</key>
  <dict>
    <key>Nacute</key>
    <integer>-1</integer>
  </dict>
  <key>Kappa</key>
  <dict>
    <key>Kcommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Epsilon</key>
  <dict>
    <key>epsilon</key>
    <integer>-1</integer>
  </dict>
  <key>uni0394</key>
  <dict>
    <key>sigma_chi</key>
    <integer>-1</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>gamma</key>
    <integer>-1</integer>
    <key>Gbreve</key>
    <integer>-1</integer>
  </dict>
  <key>Beta</key>
  <dict>
    <key>Alpha</key>
    <integer>-1</integer>
  </dict>
  <key>Alpha</key>
  <dict>
    <key>w_w_w</key>
    <integer>-1</integer>
    <key>Upsilondieresis</key>
    <integer>-1</integer>
    <key>tau</key>
    <integer>-1</integer>
    <key>sigma</key>
    <integer>-1</integer>
    <key>sigma1</key>
    <integer>-1</integer>
    <key>nu</key>
    <integer>-1</integer>
    <key>theta</key>
    <integer>-1</integer>
    <key>zeta</key>
    <integer>-1</integer>
    <key>gamma</key>
    <integer>-1</integer>
    <key>Psi</key>
    <integer>-1</integer>
    <key>Upsilon</key>
    <integer>-1</integer>
    <key>Tau</key>
    <integer>-1</integer>
    <key>Tbar</key>
    <integer>-1</integer>
    <key>tcaron</key>
    <integer>-1</integer>
    <key>Tcaron</key>
    <integer>-1</integer>
    <key>tcommaaccent</key>
    <integer>-1</integer>
    <key>Tcommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Upsilontonos</key>
  <dict>
    <key>Uring</key>
    <integer>-1</integer>
  </dict>
  <key>Epsilontonos</key>
  <dict>
    <key>Eta</key>
    <integer>-1</integer>
  </dict>
  <key>Alphatonos</key>
  <dict>
    <key>zeta</key>
    <integer>-1</integer>
  </dict>
  <key>Scommaaccent</key>
  <dict>
    <key>Sigma</key>
    <integer>-1</integer>
    <key>Tcaron</key>
    <integer>-1</integer>
  </dict>
  <key>zdotaccent</key>
  <dict>
    <key>zeta</key>
    <integer>-1</integer>
  </dict>
  <key>Uogonek</key>
  <dict>
    <key>Upsilon</key>
    <integer>-1</integer>
  </dict>
  <key>Uhungarumlaut</key>
  <dict>
    <key>Umacron</key>
    <integer>-1</integer>
  </dict>
  <key>uring</key>
  <dict>
    <key>uhungarumlaut</key>
    <integer>-1</integer>
    <key>utilde</key>
    <integer>-1</integer>
  </dict>
  <key>Uring</key>
  <dict>
    <key>Utilde</key>
    <integer>-1</integer>
    <key>Rcaron</key>
    <integer>-1</integer>
  </dict>
  <key>Ubreve</key>
  <dict>
    <key>Scircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>Umacron</key>
  <dict>
    <key>Uogonek</key>
    <integer>-1</integer>
    <key>Utilde</key>
    <integer>-1</integer>
  </dict>
  <key>utilde</key>
  <dict>
    <key>xi</key>
    <integer>-1</integer>
  </dict>
  <key>Utilde</key>
  <dict>
    <key>Xi</key>
    <integer>-1</integer>
  </dict>
  <key>tcaron</key>
  <dict>
    <key>scommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>scedilla</key>
  <dict>
    <key>gbreve</key>
    <integer>-1</integer>
  </dict>
  <key>scircumflex</key>
  <dict>
    <key>Rcommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Scircumflex</key>
  <dict>
    <key>Scommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>sacute</key>
  <dict>
    <key>Uring</key>
    <integer>-1</integer>
  </dict>
  <key>Sacute</key>
  <dict>
    <key>Scommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Rcaron</key>
  <dict>
    <key>Rcommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Rcommaaccent</key>
  <dict>
    <key>Rho</key>
    <integer>-1</integer>
  </dict>
  <key>Racute</key>
  <dict>
    <key>Rcaron</key>
    <integer>-1</integer>
  </dict>
  <key>eng</key>
  <dict>
    <key>Umacron</key>
    <integer>-1</integer>
  </dict>
  <key>Eng</key>
  <dict>
    <key>eng</key>
    <integer>-1</integer>
  </dict>
  <key>ncaron</key>
  <dict>
    <key>nacute</key>
    <integer>-1</integer>
  </dict>
  <key>Ncaron</key>
  <dict>
    <key>Ncommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Nacute</key>
  <dict>
    <key>Ncaron</key>
    <integer>-1</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>Mu</key>
    <integer>-1</integer>
  </dict>
  <key>Lacute</key>
  <dict>
    <key>lacute</key>
    <integer>-1</integer>
  </dict>
  <key>Jcircumflex</key>
  <dict>
    <key>Kappa</key>
    <integer>-1</integer>
  </dict>
  <key>iogonek</key>
  <dict>
    <key>amacron</key>
    <integer>-1</integer>
  </dict>
  <key>Iogonek</key>
  <dict>
    <key>Iota</key>
    <integer>-1</integer>
  </dict>
  <key>Imacron</key>
  <dict>
    <key>Iogonek</key>
    <integer>-1</integer>
  </dict>
  <key>hbar</key>
  <dict>
    <key>hcircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>hcircumflex</key>
  <dict>
    <key>scedilla</key>
    <integer>-1</integer>
  </dict>
  <key>Gcommaaccent</key>
  <dict>
    <key>Gdotaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Gdotaccent</key>
  <dict>
    <key>Gcircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>Gbreve</key>
  <dict>
    <key>Gcircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>Gcircumflex</key>
  <dict>
    <key>Gcommaaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Ecaron</key>
  <dict>
    <key>ecaron</key>
    <integer>-1</integer>
  </dict>
  <key>Emacron</key>
  <dict>
    <key>Eng</key>
    <integer>-1</integer>
  </dict>
  <key>Dcroat</key>
  <dict>
    <key>increment</key>
    <integer>-1</integer>
  </dict>
  <key>dcaron</key>
  <dict>
    <key>Dcaron</key>
    <integer>-1</integer>
  </dict>
  <key>Dcaron</key>
  <dict>
    <key>Nacute</key>
    <integer>-1</integer>
    <key>Dcroat</key>
    <integer>-1</integer>
  </dict>
  <key>cdotaccent</key>
  <dict>
    <key>ccircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>Cdotaccent</key>
  <dict>
    <key>Ccircumflex</key>
    <integer>-1</integer>
  </dict>
  <key>Ccircumflex</key>
  <dict>
    <key>cdotaccent</key>
    <integer>-1</integer>
    <key>Cdotaccent</key>
    <integer>-1</integer>
  </dict>
  <key>Cacute</key>
  <dict>
    <key>Lacute</key>
    <integer>-1</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>o</key>
    <integer>-32</integer>
    <key>e</key>
    <integer>-14</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>o</key>
    <integer>-24</integer>
    <key>e</key>
    <integer>-20</integer>
    <key>a</key>
    <integer>-28</integer>
    <key>period</key>
    <integer>-38</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>e</key>
    <integer>-28</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>o</key>
    <integer>-36</integer>
    <key>h</key>
    <integer>-28</integer>
    <key>e</key>
    <integer>-30</integer>
    <key>a</key>
    <integer>-54</integer>
    <key>period</key>
    <integer>-116</integer>
    <key>comma</key>
    <integer>-108</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>o</key>
    <integer>-40</integer>
    <key>e</key>
    <integer>-34</integer>
    <key>a</key>
    <integer>-58</integer>
    <key>period</key>
    <integer>-120</integer>
    <key>comma</key>
    <integer>-112</integer>
  </dict>
  <key>s</key>
  <dict>
    <key>w</key>
    <integer>-56</integer>
    <key>period</key>
    <integer>-48</integer>
    <key>comma</key>
    <integer>-36</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>y</key>
    <integer>-18</integer>
    <key>t</key>
    <integer>-12</integer>
    <key>s</key>
    <integer>-44</integer>
    <key>r</key>
    <integer>-28</integer>
    <key>q</key>
    <integer>-50</integer>
    <key>p</key>
    <integer>-34</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>n</key>
    <integer>-32</integer>
    <key>m</key>
    <integer>-32</integer>
    <key>l</key>
    <integer>-36</integer>
    <key>k</key>
    <integer>-34</integer>
    <key>i</key>
    <integer>-26</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-46</integer>
    <key>d</key>
    <integer>-42</integer>
    <key>c</key>
    <integer>-52</integer>
    <key>a</key>
    <integer>-102</integer>
    <key>semicolon</key>
    <integer>-104</integer>
    <key>colon</key>
    <integer>-88</integer>
    <key>period</key>
    <integer>-164</integer>
    <key>hyphen</key>
    <integer>-84</integer>
    <key>comma</key>
    <integer>-154</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>y</key>
    <integer>-56</integer>
    <key>period</key>
    <integer>-88</integer>
    <key>comma</key>
    <integer>-74</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>y</key>
    <integer>-28</integer>
    <key>x</key>
    <integer>-22</integer>
    <key>w</key>
    <integer>-32</integer>
    <key>v</key>
    <integer>-32</integer>
    <key>g</key>
    <integer>-14</integer>
    <key>period</key>
    <integer>-62</integer>
    <key>comma</key>
    <integer>-48</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>y</key>
    <integer>-64</integer>
    <key>v</key>
    <integer>-62</integer>
    <key>u</key>
    <integer>-50</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>y</key>
    <integer>-52</integer>
    <key>u</key>
    <integer>-38</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>y</key>
    <integer>-60</integer>
    <key>w</key>
    <integer>-28</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>y</key>
    <integer>-50</integer>
    <key>o</key>
    <integer>-36</integer>
    <key>e</key>
    <integer>-24</integer>
  </dict>
  <key>i</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>y</key>
    <integer>-56</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>y</key>
    <integer>-30</integer>
    <key>r</key>
    <integer>-40</integer>
    <key>o</key>
    <integer>-16</integer>
    <key>i</key>
    <integer>-38</integer>
    <key>g</key>
    <integer>-16</integer>
    <key>e</key>
    <integer>-14</integer>
    <key>a</key>
    <integer>-16</integer>
    <key>period</key>
    <integer>-26</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>quoteright</key>
    <integer>18</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-24</integer>
    <key>i</key>
    <integer>-12</integer>
    <key>e</key>
    <integer>-46</integer>
    <key>a</key>
    <integer>-72</integer>
    <key>one</key>
    <integer>-48</integer>
    <key>period</key>
    <integer>-98</integer>
    <key>comma</key>
    <integer>-90</integer>
    <key>quotesingle</key>
    <integer>-56</integer>
    <key>quotedbl</key>
    <integer>-66</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>y</key>
    <integer>-36</integer>
    <key>x</key>
    <integer>-30</integer>
    <key>w</key>
    <integer>-36</integer>
    <key>v</key>
    <integer>-36</integer>
    <key>p</key>
    <integer>-52</integer>
    <key>g</key>
    <integer>-22</integer>
    <key>b</key>
    <integer>-52</integer>
    <key>period</key>
    <integer>-54</integer>
    <key>comma</key>
    <integer>-46</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>y</key>
    <integer>-32</integer>
    <key>d</key>
    <integer>-18</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>y</key>
    <integer>-24</integer>
    <key>l</key>
    <integer>-38</integer>
    <key>k</key>
    <integer>-36</integer>
    <key>h</key>
    <integer>-34</integer>
    <key>period</key>
    <integer>-22</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>y</key>
    <integer>-54</integer>
    <key>v</key>
    <integer>-54</integer>
    <key>u</key>
    <integer>-40</integer>
    <key>l</key>
    <integer>-72</integer>
    <key>b</key>
    <integer>-70</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>comma</key>
    <integer>-68</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>y</key>
    <integer>-32</integer>
    <key>w</key>
    <integer>-32</integer>
    <key>v</key>
    <integer>-32</integer>
    <key>t</key>
    <integer>-26</integer>
    <key>p</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-18</integer>
    <key>b</key>
    <integer>-48</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>iogonek</key>
    <integer>-31</integer>
    <key>z</key>
    <integer>-41</integer>
    <key>x</key>
    <integer>-52</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>p</key>
    <integer>-31</integer>
    <key>o</key>
    <integer>-38</integer>
    <key>n</key>
    <integer>-10</integer>
    <key>i</key>
    <integer>-56</integer>
    <key>e</key>
    <integer>-10</integer>
    <key>b</key>
    <integer>-31</integer>
    <key>a</key>
    <integer>-10</integer>
    <key>S</key>
    <integer>-38</integer>
    <key>O</key>
    <integer>-40</integer>
    <key>A</key>
    <integer>-38</integer>
    <key>semicolon</key>
    <integer>-38</integer>
    <key>colon</key>
    <integer>-48</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>hyphen</key>
    <integer>-46</integer>
    <key>comma</key>
    <integer>-58</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>y</key>
    <integer>-44</integer>
    <key>u</key>
    <integer>-30</integer>
    <key>r</key>
    <integer>-18</integer>
    <key>o</key>
    <integer>-58</integer>
    <key>i</key>
    <integer>-16</integer>
    <key>h</key>
    <integer>-20</integer>
    <key>e</key>
    <integer>-54</integer>
    <key>a</key>
    <integer>-70</integer>
    <key>O</key>
    <integer>-24</integer>
    <key>A</key>
    <integer>-88</integer>
    <key>semicolon</key>
    <integer>-70</integer>
    <key>colon</key>
    <integer>-60</integer>
    <key>period</key>
    <integer>-116</integer>
    <key>hyphen</key>
    <integer>-56</integer>
    <key>comma</key>
    <integer>-108</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>y</key>
    <integer>-18</integer>
    <key>u</key>
    <integer>-30</integer>
    <key>r</key>
    <integer>-37</integer>
    <key>o</key>
    <integer>-60</integer>
    <key>e</key>
    <integer>-58</integer>
    <key>a</key>
    <integer>-76</integer>
    <key>O</key>
    <integer>-20</integer>
    <key>G</key>
    <integer>-46</integer>
    <key>A</key>
    <integer>-106</integer>
    <key>semicolon</key>
    <integer>-78</integer>
    <key>colon</key>
    <integer>-62</integer>
    <key>period</key>
    <integer>-132</integer>
    <key>hyphen</key>
    <integer>-58</integer>
    <key>comma</key>
    <integer>-122</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A</key>
    <integer>-68</integer>
    <key>period</key>
    <integer>-104</integer>
    <key>comma</key>
    <integer>-90</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>y</key>
    <integer>-92</integer>
    <key>w</key>
    <integer>-62</integer>
    <key>u</key>
    <integer>-80</integer>
    <key>s</key>
    <integer>-111</integer>
    <key>r</key>
    <integer>-102</integer>
    <key>o</key>
    <integer>-92</integer>
    <key>h</key>
    <integer>-10</integer>
    <key>e</key>
    <integer>-90</integer>
    <key>c</key>
    <integer>-111</integer>
    <key>a</key>
    <integer>-100</integer>
    <key>O</key>
    <integer>-20</integer>
    <key>A</key>
    <integer>-100</integer>
    <key>semicolon</key>
    <integer>-102</integer>
    <key>colon</key>
    <integer>-100</integer>
    <key>period</key>
    <integer>-132</integer>
    <key>hyphen</key>
    <integer>-96</integer>
    <key>comma</key>
    <integer>-122</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>period</key>
    <integer>-84</integer>
    <key>comma</key>
    <integer>-70</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>y</key>
    <integer>-48</integer>
    <key>Y</key>
    <integer>-37</integer>
    <key>W</key>
    <integer>-44</integer>
    <key>V</key>
    <integer>-36</integer>
    <key>U</key>
    <integer>-72</integer>
    <key>T</key>
    <integer>-42</integer>
    <key>O</key>
    <integer>-36</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>U</key>
    <integer>-318</integer>
    <key>period</key>
    <integer>-328</integer>
    <key>comma</key>
    <integer>-300</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>o</key>
    <integer>-42</integer>
    <key>e</key>
    <integer>-38</integer>
    <key>a</key>
    <integer>-62</integer>
    <key>A</key>
    <integer>-106</integer>
    <key>period</key>
    <integer>-326</integer>
    <key>comma</key>
    <integer>-314</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>Y</key>
    <integer>-44</integer>
    <key>W</key>
    <integer>-26</integer>
    <key>V</key>
    <integer>-22</integer>
    <key>T</key>
    <integer>-22</integer>
    <key>A</key>
    <integer>-34</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>comma</key>
    <integer>-56</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>A</key>
    <integer>-36</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>comma</key>
    <integer>-60</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>quoteright</key>
    <integer>-74</integer>
    <key>y</key>
    <integer>-26</integer>
    <key>Y</key>
    <integer>-206</integer>
    <key>W</key>
    <integer>-74</integer>
    <key>V</key>
    <integer>-86</integer>
    <key>T</key>
    <integer>-80</integer>
    <key>quotesingle</key>
    <integer>-284</integer>
    <key>quotedbl</key>
    <integer>-278</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>y</key>
    <integer>-34</integer>
    <key>u</key>
    <integer>-18</integer>
    <key>o</key>
    <integer>-20</integer>
    <key>e</key>
    <integer>-16</integer>
    <key>O</key>
    <integer>-22</integer>
    <key>C</key>
    <integer>-50</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>u</key>
    <integer>-60</integer>
    <key>o</key>
    <integer>-60</integer>
    <key>e</key>
    <integer>-58</integer>
    <key>a</key>
    <integer>-60</integer>
    <key>A</key>
    <integer>-58</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>comma</key>
    <integer>-72</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>period</key>
    <integer>-52</integer>
    <key>comma</key>
    <integer>-42</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>r</key>
    <integer>-172</integer>
    <key>o</key>
    <integer>-162</integer>
    <key>i</key>
    <integer>-80</integer>
    <key>e</key>
    <integer>-158</integer>
    <key>a</key>
    <integer>-196</integer>
    <key>A</key>
    <integer>-188</integer>
    <key>period</key>
    <integer>-290</integer>
    <key>comma</key>
    <integer>-282</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>Y</key>
    <integer>-84</integer>
    <key>W</key>
    <integer>-74</integer>
    <key>V</key>
    <integer>-68</integer>
    <key>A</key>
    <integer>-76</integer>
    <key>period</key>
    <integer>-114</integer>
    <key>comma</key>
    <integer>-100</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>A</key>
    <integer>-24</integer>
    <key>period</key>
    <integer>-52</integer>
    <key>comma</key>
    <integer>-44</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>A</key>
    <integer>-76</integer>
    <key>period</key>
    <integer>-112</integer>
    <key>comma</key>
    <integer>-100</integer>
  </dict>
  <key>A</key>
  <dict>
    <key>quoteright</key>
    <integer>-74</integer>
    <key>y</key>
    <integer>-42</integer>
    <key>w</key>
    <integer>-84</integer>
    <key>v</key>
    <integer>-84</integer>
    <key>u</key>
    <integer>-26</integer>
    <key>t</key>
    <integer>-22</integer>
    <key>s</key>
    <integer>-22</integer>
    <key>q</key>
    <integer>-28</integer>
    <key>p</key>
    <integer>-22</integer>
    <key>o</key>
    <integer>-30</integer>
    <key>e</key>
    <integer>-18</integer>
    <key>d</key>
    <integer>-26</integer>
    <key>c</key>
    <integer>-28</integer>
    <key>a</key>
    <integer>-28</integer>
    <key>Y</key>
    <integer>-118</integer>
    <key>W</key>
    <integer>-90</integer>
    <key>V</key>
    <integer>-104</integer>
    <key>U</key>
    <integer>-68</integer>
    <key>T</key>
    <integer>-92</integer>
    <key>Q</key>
    <integer>-36</integer>
    <key>O</key>
    <integer>-32</integer>
    <key>G</key>
    <integer>-60</integer>
    <key>C</key>
    <integer>-60</integer>
    <key>quotesingle</key>
    <integer>-210</integer>
    <key>quotedbl</key>
    <integer>-198</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>t</key>
    <integer>-96</integer>
    <key>l</key>
    <integer>-120</integer>
    <key>d</key>
    <integer>-318</integer>
    <key>quotesingle</key>
    <integer>-156</integer>
    <key>quotedbl</key>
    <integer>-164</integer>
  </dict>
  <key>quotedbl</key>
  <dict>
    <key>A</key>
    <integer>-198</integer>
  </dict>
</dict>
</plist>
