<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_B</key>
		<integer>17</integer>
		<key>@MMK_R_C</key>
		<integer>-13</integer>
		<key>@MMK_R_D</key>
		<integer>17</integer>
		<key>@MMK_R_E</key>
		<integer>17</integer>
		<key>@MMK_R_F</key>
		<integer>17</integer>
		<key>@MMK_R_G</key>
		<integer>-14</integer>
		<key>@MMK_R_H</key>
		<integer>17</integer>
		<key>@MMK_R_I</key>
		<integer>-29</integer>
		<key>@MMK_R_J</key>
		<integer>17</integer>
		<key>@MMK_R_K</key>
		<integer>17</integer>
		<key>@MMK_R_L</key>
		<integer>17</integer>
		<key>@MMK_R_M</key>
		<integer>17</integer>
		<key>@MMK_R_N</key>
		<integer>17</integer>
		<key>@MMK_R_O</key>
		<integer>-14</integer>
		<key>@MMK_R_Omegagreek</key>
		<integer>23</integer>
		<key>@MMK_R_P</key>
		<integer>17</integer>
		<key>@MMK_R_S</key>
		<integer>-2</integer>
		<key>@MMK_R_T</key>
		<integer>-63</integer>
		<key>@MMK_R_U</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-62</integer>
		<key>@MMK_R_X</key>
		<integer>29</integer>
		<key>@MMK_R_Y</key>
		<integer>-67</integer>
		<key>@MMK_R_Z</key>
		<integer>23</integer>
		<key>@MMK_R_alpha</key>
		<integer>-4</integer>
		<key>@MMK_R_b</key>
		<integer>17</integer>
		<key>@MMK_R_bar</key>
		<integer>16</integer>
		<key>@MMK_R_beta</key>
		<integer>18</integer>
		<key>@MMK_R_c</key>
		<integer>-7</integer>
		<key>@MMK_R_copyright</key>
		<integer>-9</integer>
		<key>@MMK_R_d</key>
		<integer>-6</integer>
		<key>@MMK_R_e</key>
		<integer>0</integer>
		<key>@MMK_R_epsilon</key>
		<integer>-3</integer>
		<key>@MMK_R_equal</key>
		<integer>-21</integer>
		<key>@MMK_R_eta</key>
		<integer>20</integer>
		<key>@MMK_R_exclam</key>
		<integer>15</integer>
		<key>@MMK_R_f</key>
		<integer>18</integer>
		<key>@MMK_R_g</key>
		<integer>-6</integer>
		<key>@MMK_R_h</key>
		<integer>17</integer>
		<key>@MMK_R_i</key>
		<integer>15</integer>
		<key>@MMK_R_j</key>
		<integer>-45</integer>
		<key>@MMK_R_k</key>
		<integer>17</integer>
		<key>@MMK_R_kappa</key>
		<integer>20</integer>
		<key>@MMK_R_l</key>
		<integer>17</integer>
		<key>@MMK_R_n</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-8</integer>
		<key>@MMK_R_omega</key>
		<integer>-7</integer>
		<key>@MMK_R_percent</key>
		<integer>26</integer>
		<key>@MMK_R_pi</key>
		<integer>20</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-41</integer>
		<key>@MMK_R_r</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>14</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-5</integer>
		<key>@MMK_R_slash</key>
		<integer>8</integer>
		<key>@MMK_R_t</key>
		<integer>-4</integer>
		<key>@MMK_R_tau</key>
		<integer>-66</integer>
		<key>@MMK_R_trademark</key>
		<integer>-38</integer>
		<key>@MMK_R_u</key>
		<integer>-6</integer>
		<key>@MMK_R_upsilon</key>
		<integer>-12</integer>
		<key>@MMK_R_v</key>
		<integer>-68</integer>
		<key>@MMK_R_y</key>
		<integer>-6</integer>
		<key>@MMK_R_z</key>
		<integer>22</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-16</integer>
		<key>@MMK_R_B</key>
		<integer>6</integer>
		<key>@MMK_R_C</key>
		<integer>10</integer>
		<key>@MMK_R_E</key>
		<integer>6</integer>
		<key>@MMK_R_F</key>
		<integer>6</integer>
		<key>@MMK_R_G</key>
		<integer>10</integer>
		<key>@MMK_R_H</key>
		<integer>6</integer>
		<key>@MMK_R_I</key>
		<integer>6</integer>
		<key>@MMK_R_J</key>
		<integer>-9</integer>
		<key>@MMK_R_K</key>
		<integer>6</integer>
		<key>@MMK_R_L</key>
		<integer>6</integer>
		<key>@MMK_R_M</key>
		<integer>6</integer>
		<key>@MMK_R_N</key>
		<integer>6</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_Omegagreek</key>
		<integer>-2</integer>
		<key>@MMK_R_P</key>
		<integer>6</integer>
		<key>@MMK_R_S</key>
		<integer>8</integer>
		<key>@MMK_R_T</key>
		<integer>11</integer>
		<key>@MMK_R_U</key>
		<integer>8</integer>
		<key>@MMK_R_V</key>
		<integer>-17</integer>
		<key>@MMK_R_X</key>
		<integer>-39</integer>
		<key>@MMK_R_Y</key>
		<integer>12</integer>
		<key>@MMK_R_Z</key>
		<integer>1</integer>
		<key>@MMK_R_alpha</key>
		<integer>14</integer>
		<key>@MMK_R_b</key>
		<integer>6</integer>
		<key>@MMK_R_bar</key>
		<integer>5</integer>
		<key>@MMK_R_beta</key>
		<integer>7</integer>
		<key>@MMK_R_c</key>
		<integer>14</integer>
		<key>@MMK_R_copyright</key>
		<integer>14</integer>
		<key>@MMK_R_d</key>
		<integer>14</integer>
		<key>@MMK_R_e</key>
		<integer>13</integer>
		<key>@MMK_R_epsilon</key>
		<integer>12</integer>
		<key>@MMK_R_equal</key>
		<integer>15</integer>
		<key>@MMK_R_eta</key>
		<integer>9</integer>
		<key>@MMK_R_exclam</key>
		<integer>2</integer>
		<key>@MMK_R_f</key>
		<integer>7</integer>
		<key>@MMK_R_g</key>
		<integer>14</integer>
		<key>@MMK_R_h</key>
		<integer>6</integer>
		<key>@MMK_R_i</key>
		<integer>4</integer>
		<key>@MMK_R_j</key>
		<integer>17</integer>
		<key>@MMK_R_k</key>
		<integer>6</integer>
		<key>@MMK_R_kappa</key>
		<integer>9</integer>
		<key>@MMK_R_l</key>
		<integer>6</integer>
		<key>@MMK_R_n</key>
		<integer>9</integer>
		<key>@MMK_R_o</key>
		<integer>15</integer>
		<key>@MMK_R_omega</key>
		<integer>14</integer>
		<key>@MMK_R_percent</key>
		<integer>-5</integer>
		<key>@MMK_R_pi</key>
		<integer>9</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>8</integer>
		<key>@MMK_R_r</key>
		<integer>9</integer>
		<key>@MMK_R_s</key>
		<integer>-6</integer>
		<key>@MMK_R_semicolon</key>
		<integer>12</integer>
		<key>@MMK_R_slash</key>
		<integer>-43</integer>
		<key>@MMK_R_t</key>
		<integer>8</integer>
		<key>@MMK_R_tau</key>
		<integer>18</integer>
		<key>@MMK_R_trademark</key>
		<integer>-19</integer>
		<key>@MMK_R_u</key>
		<integer>11</integer>
		<key>@MMK_R_upsilon</key>
		<integer>11</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>11</integer>
		<key>@MMK_R_z</key>
		<integer>2</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>28</integer>
		<key>@MMK_R_B</key>
		<integer>13</integer>
		<key>@MMK_R_C</key>
		<integer>9</integer>
		<key>@MMK_R_D</key>
		<integer>13</integer>
		<key>@MMK_R_E</key>
		<integer>13</integer>
		<key>@MMK_R_F</key>
		<integer>13</integer>
		<key>@MMK_R_G</key>
		<integer>7</integer>
		<key>@MMK_R_H</key>
		<integer>13</integer>
		<key>@MMK_R_I</key>
		<integer>-33</integer>
		<key>@MMK_R_J</key>
		<integer>24</integer>
		<key>@MMK_R_K</key>
		<integer>13</integer>
		<key>@MMK_R_M</key>
		<integer>13</integer>
		<key>@MMK_R_N</key>
		<integer>13</integer>
		<key>@MMK_R_O</key>
		<integer>8</integer>
		<key>@MMK_R_Omegagreek</key>
		<integer>19</integer>
		<key>@MMK_R_P</key>
		<integer>13</integer>
		<key>@MMK_R_S</key>
		<integer>19</integer>
		<key>@MMK_R_T</key>
		<integer>-67</integer>
		<key>@MMK_R_U</key>
		<integer>6</integer>
		<key>@MMK_R_V</key>
		<integer>-66</integer>
		<key>@MMK_R_X</key>
		<integer>25</integer>
		<key>@MMK_R_Y</key>
		<integer>-81</integer>
		<key>@MMK_R_Z</key>
		<integer>19</integer>
		<key>@MMK_R_alpha</key>
		<integer>16</integer>
		<key>@MMK_R_b</key>
		<integer>13</integer>
		<key>@MMK_R_bar</key>
		<integer>12</integer>
		<key>@MMK_R_beta</key>
		<integer>14</integer>
		<key>@MMK_R_c</key>
		<integer>15</integer>
		<key>@MMK_R_copyright</key>
		<integer>13</integer>
		<key>@MMK_R_d</key>
		<integer>16</integer>
		<key>@MMK_R_e</key>
		<integer>18</integer>
		<key>@MMK_R_epsilon</key>
		<integer>18</integer>
		<key>@MMK_R_equal</key>
		<integer>-53</integer>
		<key>@MMK_R_eta</key>
		<integer>16</integer>
		<key>@MMK_R_exclam</key>
		<integer>16</integer>
		<key>@MMK_R_f</key>
		<integer>14</integer>
		<key>@MMK_R_g</key>
		<integer>15</integer>
		<key>@MMK_R_h</key>
		<integer>13</integer>
		<key>@MMK_R_i</key>
		<integer>11</integer>
		<key>@MMK_R_j</key>
		<integer>-49</integer>
		<key>@MMK_R_k</key>
		<integer>13</integer>
		<key>@MMK_R_kappa</key>
		<integer>16</integer>
		<key>@MMK_R_l</key>
		<integer>13</integer>
		<key>@MMK_R_n</key>
		<integer>16</integer>
		<key>@MMK_R_o</key>
		<integer>14</integer>
		<key>@MMK_R_omega</key>
		<integer>14</integer>
		<key>@MMK_R_percent</key>
		<integer>22</integer>
		<key>@MMK_R_pi</key>
		<integer>16</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-45</integer>
		<key>@MMK_R_r</key>
		<integer>16</integer>
		<key>@MMK_R_s</key>
		<integer>24</integer>
		<key>@MMK_R_semicolon</key>
		<integer>16</integer>
		<key>@MMK_R_slash</key>
		<integer>4</integer>
		<key>@MMK_R_t</key>
		<integer>14</integer>
		<key>@MMK_R_tau</key>
		<integer>-69</integer>
		<key>@MMK_R_trademark</key>
		<integer>-42</integer>
		<key>@MMK_R_u</key>
		<integer>14</integer>
		<key>@MMK_R_upsilon</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>-72</integer>
		<key>@MMK_R_y</key>
		<integer>14</integer>
		<key>@MMK_R_z</key>
		<integer>18</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_B</key>
		<integer>5</integer>
		<key>@MMK_R_C</key>
		<integer>9</integer>
		<key>@MMK_R_D</key>
		<integer>5</integer>
		<key>@MMK_R_E</key>
		<integer>5</integer>
		<key>@MMK_R_F</key>
		<integer>5</integer>
		<key>@MMK_R_H</key>
		<integer>5</integer>
		<key>@MMK_R_I</key>
		<integer>13</integer>
		<key>@MMK_R_J</key>
		<integer>-6</integer>
		<key>@MMK_R_L</key>
		<integer>5</integer>
		<key>@MMK_R_N</key>
		<integer>5</integer>
		<key>@MMK_R_S</key>
		<integer>9</integer>
		<key>@MMK_R_T</key>
		<integer>17</integer>
		<key>@MMK_R_U</key>
		<integer>7</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-38</integer>
		<key>@MMK_R_Y</key>
		<integer>11</integer>
		<key>@MMK_R_Z</key>
		<integer>1</integer>
		<key>@MMK_R_alpha</key>
		<integer>13</integer>
		<key>@MMK_R_d</key>
		<integer>13</integer>
		<key>@MMK_R_e</key>
		<integer>12</integer>
		<key>@MMK_R_epsilon</key>
		<integer>12</integer>
		<key>@MMK_R_eta</key>
		<integer>8</integer>
		<key>@MMK_R_f</key>
		<integer>6</integer>
		<key>@MMK_R_g</key>
		<integer>13</integer>
		<key>@MMK_R_i</key>
		<integer>3</integer>
		<key>@MMK_R_k</key>
		<integer>5</integer>
		<key>@MMK_R_l</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>14</integer>
		<key>@MMK_R_pi</key>
		<integer>8</integer>
		<key>@MMK_R_r</key>
		<integer>8</integer>
		<key>@MMK_R_s</key>
		<integer>-3</integer>
		<key>@MMK_R_u</key>
		<integer>10</integer>
		<key>@MMK_R_upsilon</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-6</integer>
		<key>@MMK_R_B</key>
		<integer>9</integer>
		<key>@MMK_R_C</key>
		<integer>13</integer>
		<key>@MMK_R_D</key>
		<integer>9</integer>
		<key>@MMK_R_E</key>
		<integer>9</integer>
		<key>@MMK_R_F</key>
		<integer>9</integer>
		<key>@MMK_R_G</key>
		<integer>13</integer>
		<key>@MMK_R_H</key>
		<integer>9</integer>
		<key>@MMK_R_I</key>
		<integer>-37</integer>
		<key>@MMK_R_J</key>
		<integer>-6</integer>
		<key>@MMK_R_K</key>
		<integer>9</integer>
		<key>@MMK_R_L</key>
		<integer>9</integer>
		<key>@MMK_R_M</key>
		<integer>9</integer>
		<key>@MMK_R_N</key>
		<integer>9</integer>
		<key>@MMK_R_O</key>
		<integer>13</integer>
		<key>@MMK_R_Omegagreek</key>
		<integer>1</integer>
		<key>@MMK_R_P</key>
		<integer>9</integer>
		<key>@MMK_R_S</key>
		<integer>3</integer>
		<key>@MMK_R_T</key>
		<integer>-71</integer>
		<key>@MMK_R_U</key>
		<integer>11</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-9</integer>
		<key>@MMK_R_Y</key>
		<integer>11</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_alpha</key>
		<integer>17</integer>
		<key>@MMK_R_b</key>
		<integer>9</integer>
		<key>@MMK_R_bar</key>
		<integer>8</integer>
		<key>@MMK_R_beta</key>
		<integer>10</integer>
		<key>@MMK_R_c</key>
		<integer>17</integer>
		<key>@MMK_R_copyright</key>
		<integer>17</integer>
		<key>@MMK_R_d</key>
		<integer>17</integer>
		<key>@MMK_R_epsilon</key>
		<integer>15</integer>
		<key>@MMK_R_equal</key>
		<integer>18</integer>
		<key>@MMK_R_eta</key>
		<integer>12</integer>
		<key>@MMK_R_exclam</key>
		<integer>1</integer>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>17</integer>
		<key>@MMK_R_h</key>
		<integer>9</integer>
		<key>@MMK_R_i</key>
		<integer>7</integer>
		<key>@MMK_R_j</key>
		<integer>14</integer>
		<key>@MMK_R_k</key>
		<integer>9</integer>
		<key>@MMK_R_kappa</key>
		<integer>12</integer>
		<key>@MMK_R_l</key>
		<integer>9</integer>
		<key>@MMK_R_n</key>
		<integer>12</integer>
		<key>@MMK_R_o</key>
		<integer>18</integer>
		<key>@MMK_R_omega</key>
		<integer>17</integer>
		<key>@MMK_R_percent</key>
		<integer>-12</integer>
		<key>@MMK_R_pi</key>
		<integer>12</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-49</integer>
		<key>@MMK_R_r</key>
		<integer>12</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_semicolon</key>
		<integer>13</integer>
		<key>@MMK_R_slash</key>
		<integer>-36</integer>
		<key>@MMK_R_t</key>
		<integer>11</integer>
		<key>@MMK_R_tau</key>
		<integer>16</integer>
		<key>@MMK_R_trademark</key>
		<integer>-46</integer>
		<key>@MMK_R_u</key>
		<integer>14</integer>
		<key>@MMK_R_upsilon</key>
		<integer>14</integer>
		<key>@MMK_R_v</key>
		<integer>-9</integer>
		<key>@MMK_R_y</key>
		<integer>14</integer>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
