<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>248</integer>
		<key>G</key>
		<integer>248</integer>
		<key>O</key>
		<integer>244</integer>
		<key>Q</key>
		<integer>244</integer>
		<key>T</key>
		<integer>227</integer>
		<key>U</key>
		<integer>250</integer>
		<key>V</key>
		<integer>238</integer>
		<key>W</key>
		<integer>253</integer>
		<key>Y</key>
		<integer>226</integer>
		<key>c</key>
		<integer>252</integer>
		<key>d</key>
		<integer>252</integer>
		<key>e</key>
		<integer>256</integer>
		<key>g</key>
		<integer>250</integer>
		<key>o</key>
		<integer>251</integer>
		<key>p</key>
		<integer>251</integer>
		<key>q</key>
		<integer>250</integer>
		<key>t</key>
		<integer>253</integer>
		<key>u</key>
		<integer>248</integer>
		<key>v</key>
		<integer>243</integer>
		<key>w</key>
		<integer>242</integer>
		<key>y</key>
		<integer>248</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>219</integer>
		<key>E</key>
		<integer>247</integer>
		<key>L</key>
		<integer>247</integer>
		<key>P</key>
		<integer>247</integer>
		<key>R</key>
		<integer>247</integer>
		<key>U</key>
		<integer>258</integer>
		<key>V</key>
		<integer>257</integer>
		<key>W</key>
		<integer>268</integer>
		<key>Y</key>
		<integer>243</integer>
		<key>b</key>
		<integer>247</integer>
		<key>i</key>
		<integer>247</integer>
		<key>k</key>
		<integer>247</integer>
		<key>l</key>
		<integer>247</integer>
		<key>r</key>
		<integer>243</integer>
		<key>u</key>
		<integer>253</integer>
		<key>y</key>
		<integer>247</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>223</integer>
		<key>O</key>
		<integer>201</integer>
		<key>R</key>
		<integer>211</integer>
		<key>a</key>
		<integer>205</integer>
		<key>r</key>
		<integer>211</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>196</integer>
		<key>D</key>
		<integer>240</integer>
		<key>E</key>
		<integer>240</integer>
		<key>I</key>
		<integer>249</integer>
		<key>L</key>
		<integer>240</integer>
		<key>M</key>
		<integer>240</integer>
		<key>N</key>
		<integer>240</integer>
		<key>O</key>
		<integer>244</integer>
		<key>P</key>
		<integer>240</integer>
		<key>R</key>
		<integer>240</integer>
		<key>U</key>
		<integer>251</integer>
		<key>V</key>
		<integer>255</integer>
		<key>W</key>
		<integer>265</integer>
		<key>Y</key>
		<integer>246</integer>
		<key>a</key>
		<integer>217</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>C</key>
		<integer>220</integer>
		<key>O</key>
		<integer>216</integer>
		<key>u</key>
		<integer>209</integer>
		<key>v</key>
		<integer>258</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>132</integer>
		<key>C</key>
		<integer>215</integer>
		<key>G</key>
		<integer>218</integer>
		<key>O</key>
		<integer>211</integer>
		<key>a</key>
		<integer>122</integer>
		<key>e</key>
		<integer>173</integer>
		<key>i</key>
		<integer>205</integer>
		<key>o</key>
		<integer>176</integer>
		<key>r</key>
		<integer>200</integer>
		<key>t</key>
		<integer>208</integer>
		<key>u</key>
		<integer>206</integer>
		<key>y</key>
		<integer>206</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>E</key>
		<integer>249</integer>
		<key>O</key>
		<integer>251</integer>
		<key>R</key>
		<integer>249</integer>
		<key>U</key>
		<integer>258</integer>
		<key>u</key>
		<integer>253</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>O</key>
		<integer>239</integer>
		<key>e</key>
		<integer>225</integer>
		<key>o</key>
		<integer>227</integer>
		<key>u</key>
		<integer>235</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>C</key>
		<integer>242</integer>
		<key>G</key>
		<integer>244</integer>
		<key>O</key>
		<integer>239</integer>
		<key>c</key>
		<integer>224</integer>
		<key>d</key>
		<integer>212</integer>
		<key>o</key>
		<integer>227</integer>
		<key>q</key>
		<integer>226</integer>
		<key>t</key>
		<integer>239</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>191</integer>
		<key>O</key>
		<integer>238</integer>
		<key>a</key>
		<integer>206</integer>
		<key>e</key>
		<integer>225</integer>
		<key>o</key>
		<integer>227</integer>
		<key>u</key>
		<integer>236</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>190</integer>
		<key>e</key>
		<integer>206</integer>
		<key>o</key>
		<integer>198</integer>
		<key>u</key>
		<integer>199</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>261</integer>
		<key>G</key>
		<integer>261</integer>
		<key>O</key>
		<integer>257</integer>
		<key>T</key>
		<integer>201</integer>
		<key>U</key>
		<integer>260</integer>
		<key>V</key>
		<integer>199</integer>
		<key>W</key>
		<integer>229</integer>
		<key>Y</key>
		<integer>171</integer>
		<key>u</key>
		<integer>259</integer>
		<key>y</key>
		<integer>259</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>G</key>
		<integer>244</integer>
		<key>O</key>
		<integer>239</integer>
		<key>a</key>
		<integer>206</integer>
		<key>c</key>
		<integer>224</integer>
		<key>d</key>
		<integer>212</integer>
		<key>e</key>
		<integer>225</integer>
		<key>o</key>
		<integer>227</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>C</key>
		<integer>242</integer>
		<key>G</key>
		<integer>244</integer>
		<key>O</key>
		<integer>239</integer>
		<key>a</key>
		<integer>206</integer>
		<key>e</key>
		<integer>225</integer>
		<key>i</key>
		<integer>234</integer>
		<key>o</key>
		<integer>227</integer>
		<key>u</key>
		<integer>235</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>194</integer>
		<key>B</key>
		<integer>240</integer>
		<key>D</key>
		<integer>240</integer>
		<key>E</key>
		<integer>240</integer>
		<key>F</key>
		<integer>240</integer>
		<key>H</key>
		<integer>240</integer>
		<key>I</key>
		<integer>250</integer>
		<key>K</key>
		<integer>240</integer>
		<key>L</key>
		<integer>240</integer>
		<key>M</key>
		<integer>240</integer>
		<key>N</key>
		<integer>240</integer>
		<key>P</key>
		<integer>240</integer>
		<key>R</key>
		<integer>240</integer>
		<key>T</key>
		<integer>270</integer>
		<key>U</key>
		<integer>251</integer>
		<key>V</key>
		<integer>256</integer>
		<key>W</key>
		<integer>266</integer>
		<key>X</key>
		<integer>194</integer>
		<key>Y</key>
		<integer>241</integer>
		<key>a</key>
		<integer>214</integer>
		<key>b</key>
		<integer>240</integer>
		<key>h</key>
		<integer>240</integer>
		<key>k</key>
		<integer>240</integer>
		<key>l</key>
		<integer>240</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>146</integer>
		<key>E</key>
		<integer>211</integer>
		<key>L</key>
		<integer>211</integer>
		<key>O</key>
		<integer>215</integer>
		<key>P</key>
		<integer>211</integer>
		<key>U</key>
		<integer>222</integer>
		<key>Y</key>
		<integer>245</integer>
		<key>a</key>
		<integer>207</integer>
		<key>e</key>
		<integer>214</integer>
		<key>o</key>
		<integer>216</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>250</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>237</integer>
		<key>G</key>
		<integer>237</integer>
		<key>T</key>
		<integer>263</integer>
		<key>U</key>
		<integer>239</integer>
		<key>V</key>
		<integer>246</integer>
		<key>W</key>
		<integer>256</integer>
		<key>Y</key>
		<integer>243</integer>
		<key>d</key>
		<integer>212</integer>
		<key>e</key>
		<integer>220</integer>
		<key>o</key>
		<integer>223</integer>
		<key>t</key>
		<integer>233</integer>
		<key>u</key>
		<integer>233</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>I</key>
		<integer>249</integer>
		<key>M</key>
		<integer>245</integer>
		<key>T</key>
		<integer>256</integer>
		<key>U</key>
		<integer>255</integer>
		<key>i</key>
		<integer>244</integer>
		<key>p</key>
		<integer>219</integer>
		<key>u</key>
		<integer>248</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>133</integer>
		<key>C</key>
		<integer>217</integer>
		<key>O</key>
		<integer>212</integer>
		<key>a</key>
		<integer>121</integer>
		<key>c</key>
		<integer>168</integer>
		<key>e</key>
		<integer>174</integer>
		<key>i</key>
		<integer>206</integer>
		<key>o</key>
		<integer>177</integer>
		<key>r</key>
		<integer>202</integer>
		<key>s</key>
		<integer>159</integer>
		<key>u</key>
		<integer>208</integer>
		<key>w</key>
		<integer>269</integer>
		<key>y</key>
		<integer>208</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>184</integer>
		<key>C</key>
		<integer>243</integer>
		<key>G</key>
		<integer>245</integer>
		<key>O</key>
		<integer>239</integer>
		<key>S</key>
		<integer>218</integer>
		<key>a</key>
		<integer>207</integer>
		<key>g</key>
		<integer>226</integer>
		<key>m</key>
		<integer>231</integer>
		<key>n</key>
		<integer>228</integer>
		<key>p</key>
		<integer>208</integer>
		<key>s</key>
		<integer>211</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>132</integer>
		<key>C</key>
		<integer>200</integer>
		<key>G</key>
		<integer>202</integer>
		<key>O</key>
		<integer>197</integer>
		<key>S</key>
		<integer>178</integer>
		<key>a</key>
		<integer>141</integer>
		<key>e</key>
		<integer>167</integer>
		<key>i</key>
		<integer>204</integer>
		<key>o</key>
		<integer>169</integer>
		<key>r</key>
		<integer>175</integer>
		<key>u</key>
		<integer>183</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>132</integer>
		<key>C</key>
		<integer>210</integer>
		<key>G</key>
		<integer>212</integer>
		<key>O</key>
		<integer>207</integer>
		<key>d</key>
		<integer>171</integer>
		<key>i</key>
		<integer>204</integer>
		<key>m</key>
		<integer>191</integer>
		<key>r</key>
		<integer>188</integer>
		<key>t</key>
		<integer>210</integer>
		<key>u</key>
		<integer>197</integer>
		<key>y</key>
		<integer>193</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>a</key>
		<integer>188</integer>
		<key>e</key>
		<integer>190</integer>
		<key>o</key>
		<integer>182</integer>
		<key>u</key>
		<integer>183</integer>
		<key>y</key>
		<integer>183</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>190</integer>
		<key>C</key>
		<integer>244</integer>
		<key>O</key>
		<integer>240</integer>
		<key>S</key>
		<integer>218</integer>
		<key>d</key>
		<integer>214</integer>
		<key>e</key>
		<integer>226</integer>
		<key>i</key>
		<integer>236</integer>
		<key>p</key>
		<integer>208</integer>
		<key>u</key>
		<integer>236</integer>
		<key>v</key>
		<integer>255</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>O</key>
		<integer>214</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>c</key>
		<integer>238</integer>
		<key>d</key>
		<integer>236</integer>
		<key>e</key>
		<integer>236</integer>
		<key>f</key>
		<integer>240</integer>
		<key>g</key>
		<integer>233</integer>
		<key>p</key>
		<integer>215</integer>
		<key>t</key>
		<integer>243</integer>
		<key>u</key>
		<integer>241</integer>
		<key>v</key>
		<integer>245</integer>
		<key>w</key>
		<integer>246</integer>
		<key>y</key>
		<integer>237</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>l</key>
		<integer>227</integer>
		<key>r</key>
		<integer>233</integer>
		<key>u</key>
		<integer>244</integer>
		<key>y</key>
		<integer>239</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>a</key>
		<integer>203</integer>
		<key>h</key>
		<integer>230</integer>
		<key>k</key>
		<integer>230</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>a</key>
		<integer>206</integer>
		<key>c</key>
		<integer>224</integer>
		<key>e</key>
		<integer>225</integer>
		<key>g</key>
		<integer>225</integer>
		<key>o</key>
		<integer>227</integer>
		<key>t</key>
		<integer>239</integer>
		<key>u</key>
		<integer>235</integer>
		<key>v</key>
		<integer>253</integer>
		<key>w</key>
		<integer>253</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<integer>241</integer>
		<key>i</key>
		<integer>239</integer>
		<key>l</key>
		<integer>240</integer>
		<key>m</key>
		<integer>237</integer>
		<key>n</key>
		<integer>233</integer>
		<key>p</key>
		<integer>214</integer>
		<key>r</key>
		<integer>234</integer>
		<key>t</key>
		<integer>244</integer>
		<key>u</key>
		<integer>244</integer>
		<key>v</key>
		<integer>252</integer>
		<key>w</key>
		<integer>252</integer>
		<key>y</key>
		<integer>239</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>170</integer>
		<key>e</key>
		<integer>190</integer>
		<key>f</key>
		<integer>207</integer>
		<key>i</key>
		<integer>209</integer>
		<key>l</key>
		<integer>209</integer>
		<key>o</key>
		<integer>191</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>223</integer>
		<key>e</key>
		<integer>237</integer>
		<key>g</key>
		<integer>236</integer>
		<key>h</key>
		<integer>244</integer>
		<key>l</key>
		<integer>244</integer>
		<key>o</key>
		<integer>237</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>c</key>
		<integer>234</integer>
		<key>d</key>
		<integer>231</integer>
		<key>e</key>
		<integer>235</integer>
		<key>g</key>
		<integer>234</integer>
		<key>o</key>
		<integer>235</integer>
		<key>p</key>
		<integer>217</integer>
		<key>t</key>
		<integer>234</integer>
		<key>u</key>
		<integer>244</integer>
		<key>v</key>
		<integer>251</integer>
		<key>w</key>
		<integer>252</integer>
		<key>y</key>
		<integer>240</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>c</key>
		<integer>222</integer>
		<key>d</key>
		<integer>209</integer>
		<key>e</key>
		<integer>223</integer>
		<key>g</key>
		<integer>223</integer>
		<key>o</key>
		<integer>224</integer>
		<key>p</key>
		<integer>204</integer>
		<key>t</key>
		<integer>237</integer>
		<key>u</key>
		<integer>233</integer>
		<key>v</key>
		<integer>246</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<integer>203</integer>
		<key>e</key>
		<integer>223</integer>
		<key>o</key>
		<integer>224</integer>
		<key>u</key>
		<integer>233</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>251</integer>
		<key>c</key>
		<integer>248</integer>
		<key>d</key>
		<integer>249</integer>
		<key>e</key>
		<integer>253</integer>
		<key>g</key>
		<integer>248</integer>
		<key>o</key>
		<integer>245</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>a</key>
		<integer>206</integer>
		<key>c</key>
		<integer>224</integer>
		<key>d</key>
		<integer>212</integer>
		<key>e</key>
		<integer>225</integer>
		<key>f</key>
		<integer>234</integer>
		<key>g</key>
		<integer>225</integer>
		<key>o</key>
		<integer>227</integer>
		<key>p</key>
		<integer>206</integer>
		<key>q</key>
		<integer>226</integer>
		<key>u</key>
		<integer>235</integer>
		<key>v</key>
		<integer>253</integer>
		<key>w</key>
		<integer>253</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>230</integer>
		<key>c</key>
		<integer>231</integer>
		<key>d</key>
		<integer>233</integer>
		<key>e</key>
		<integer>232</integer>
		<key>g</key>
		<integer>232</integer>
		<key>n</key>
		<integer>233</integer>
		<key>o</key>
		<integer>233</integer>
		<key>p</key>
		<integer>215</integer>
		<key>t</key>
		<integer>243</integer>
		<key>u</key>
		<integer>240</integer>
		<key>v</key>
		<integer>246</integer>
		<key>y</key>
		<integer>238</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>c</key>
		<integer>230</integer>
		<key>d</key>
		<integer>232</integer>
		<key>e</key>
		<integer>231</integer>
		<key>g</key>
		<integer>231</integer>
		<key>o</key>
		<integer>232</integer>
		<key>p</key>
		<integer>214</integer>
		<key>t</key>
		<integer>242</integer>
		<key>u</key>
		<integer>242</integer>
		<key>v</key>
		<integer>248</integer>
		<key>w</key>
		<integer>249</integer>
		<key>y</key>
		<integer>237</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>b</key>
		<integer>240</integer>
		<key>f</key>
		<integer>240</integer>
		<key>h</key>
		<integer>240</integer>
		<key>j</key>
		<integer>203</integer>
		<key>k</key>
		<integer>240</integer>
		<key>l</key>
		<integer>240</integer>
		<key>m</key>
		<integer>236</integer>
		<key>n</key>
		<integer>233</integer>
		<key>p</key>
		<integer>212</integer>
		<key>r</key>
		<integer>233</integer>
		<key>u</key>
		<integer>243</integer>
		<key>v</key>
		<integer>247</integer>
		<key>w</key>
		<integer>247</integer>
		<key>x</key>
		<integer>214</integer>
		<key>y</key>
		<integer>238</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>235</integer>
		<key>h</key>
		<integer>242</integer>
		<key>i</key>
		<integer>241</integer>
		<key>l</key>
		<integer>242</integer>
		<key>p</key>
		<integer>215</integer>
		<key>u</key>
		<integer>244</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>u</key>
		<integer>247</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>209</integer>
		<key>d</key>
		<integer>225</integer>
		<key>e</key>
		<integer>222</integer>
		<key>g</key>
		<integer>222</integer>
		<key>k</key>
		<integer>218</integer>
		<key>l</key>
		<integer>218</integer>
		<key>m</key>
		<integer>219</integer>
		<key>n</key>
		<integer>218</integer>
		<key>o</key>
		<integer>223</integer>
		<key>q</key>
		<integer>222</integer>
		<key>r</key>
		<integer>219</integer>
		<key>t</key>
		<integer>225</integer>
		<key>v</key>
		<integer>282</integer>
		<key>y</key>
		<integer>226</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>h</key>
		<integer>248</integer>
		<key>t</key>
		<integer>252</integer>
		<key>u</key>
		<integer>252</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>201</integer>
		<key>d</key>
		<integer>223</integer>
		<key>e</key>
		<integer>221</integer>
		<key>o</key>
		<integer>223</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>a</key>
		<integer>223</integer>
		<key>c</key>
		<integer>240</integer>
		<key>d</key>
		<integer>242</integer>
		<key>e</key>
		<integer>241</integer>
		<key>g</key>
		<integer>241</integer>
		<key>o</key>
		<integer>243</integer>
		<key>p</key>
		<integer>222</integer>
		<key>q</key>
		<integer>241</integer>
		<key>t</key>
		<integer>252</integer>
		<key>v</key>
		<integer>271</integer>
		<key>w</key>
		<integer>271</integer>
		<key>y</key>
		<integer>248</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>198</integer>
		<key>b</key>
		<integer>220</integer>
		<key>c</key>
		<integer>221</integer>
		<key>d</key>
		<integer>226</integer>
		<key>e</key>
		<integer>223</integer>
		<key>g</key>
		<integer>223</integer>
		<key>o</key>
		<integer>223</integer>
		<key>v</key>
		<integer>283</integer>
		<key>y</key>
		<integer>227</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>199</integer>
		<key>d</key>
		<integer>226</integer>
		<key>e</key>
		<integer>223</integer>
		<key>g</key>
		<integer>223</integer>
		<key>h</key>
		<integer>219</integer>
		<key>o</key>
		<integer>223</integer>
		<key>x</key>
		<integer>223</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>191</integer>
		<key>e</key>
		<integer>221</integer>
		<key>o</key>
		<integer>221</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>224</integer>
		<key>c</key>
		<integer>236</integer>
		<key>d</key>
		<integer>237</integer>
		<key>e</key>
		<integer>237</integer>
		<key>o</key>
		<integer>238</integer>
	</dict>
</dict>
</plist>
