/**/
@font-face {
	src: url('../fonts/adventpro-VF.ttf');
	font-family:'AdventProVar';
	font-style: normal;
}
@font-face {
	src: url('../fonts/AdventPro_SeC_thn.ttf');
	font-family:'AdventProSeC_thn';
	font-style: normal;
}
@font-face {
	src: url('../fonts/AdventPro_SeC_reg.ttf');
	font-family:'AdventProSeC_reg';
	font-style: normal;
}
@font-face {
	src: url('../fonts/AdventPro_SeC_bld.ttf');
	font-family:'AdventProSeC_bld';
	font-style: normal;
}
@font-face {
	src: url('../fonts/AdventPro_SeC_blk.ttf');
	font-family:'AdventProSeC_blk';
	font-style: normal;
}