/**/
@font-face {
	src: url('../fonts/adventpro-VF.ttf');
	font-family:'AdventProVar';
	font-style: normal;
}
@font-face {
	src: url('../fonts/AdventPro-SeC-Thin.otf');
	font-family:'AdventProSeC';
	font-style: normal;
}