<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>@_s1</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>@_F</key>
  <array>
    <string>F</string>
    <string>Gamma</string>
  </array>
  <key>@_F1</key>
  <array>
    <string>F</string>
    <string>Gamma</string>
  </array>
  <key>@_c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cent</string>
  </array>
  <key>@_c1</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cent</string>
  </array>
  <key>@_p</key>
  <array>
    <string>p</string>
    <string>rho</string>
  </array>
  <key>@_p1</key>
  <array>
    <string>p</string>
    <string>rho</string>
  </array>
  <key>@_epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>@_epsilon1</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>@_Xi</key>
  <array>
    <string>Xi</string>
    <string>Sigma</string>
  </array>
  <key>@_Xi1</key>
  <array>
    <string>Xi</string>
    <string>Sigma</string>
  </array>
  <key>@_eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>@_eta1</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>@_T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>uni021A</string>
    <string>Tbar</string>
  </array>
  <key>@_T1</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>uni021A</string>
    <string>Tbar</string>
  </array>
  <key>@_E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
  </array>
  <key>@_E1</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
  </array>
  <key>@_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>dollar</string>
  </array>
  <key>@_S1</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>dollar</string>
  </array>
  <key>@_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
    <string>Uring</string>
  </array>
  <key>@_U1</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
    <string>Uring</string>
  </array>
  <key>@_X</key>
  <array>
    <string>X</string>
    <string>Chi</string>
  </array>
  <key>@_X1</key>
  <array>
    <string>X</string>
    <string>Chi</string>
  </array>
  <key>@_i</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iotatonos</string>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>itilde</string>
  </array>
  <key>@_i1</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iotatonos</string>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>itilde</string>
  </array>
  <key>@_M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@_M1</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>semicolon</string>
  </array>
  <key>@_comma1</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>semicolon</string>
  </array>
  <key>@_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>q</string>
  </array>
  <key>@_g1</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>q</string>
  </array>
  <key>@_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
    <string>lambda</string>
    <string>Deltagreek</string>
    <string>Aring</string>
  </array>
  <key>@_A1</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
    <string>lambda</string>
    <string>Deltagreek</string>
    <string>Aring</string>
  </array>
  <key>@_k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>@_k1</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>@_L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
  </array>
  <key>@_L1</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
  </array>
  <key>@_e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@_e1</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@_Y</key>
  <array>
    <string>Y</string>
    <string>Upsilon</string>
    <string>Upsilontonos</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@_Y1</key>
  <array>
    <string>Y</string>
    <string>Upsilon</string>
    <string>Upsilontonos</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@_equal1</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@_dotaccent</key>
  <array>
    <string>dotaccent</string>
    <string>ellipsis</string>
  </array>
  <key>@_dotaccent1</key>
  <array>
    <string>dotaccent</string>
    <string>ellipsis</string>
  </array>
  <key>@_l</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>lacute</string>
  </array>
  <key>@_l1</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>lacute</string>
  </array>
  <key>@_j</key>
  <array>
    <string>j</string>
    <string>dotlessj</string>
    <string>jcircumflex</string>
  </array>
  <key>@_j1</key>
  <array>
    <string>j</string>
    <string>dotlessj</string>
    <string>jcircumflex</string>
  </array>
  <key>@_O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
    <string>Theta</string>
  </array>
  <key>@_O1</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
    <string>Theta</string>
  </array>
  <key>@_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zeta</string>
  </array>
  <key>@_Z1</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zeta</string>
  </array>
  <key>@_P</key>
  <array>
    <string>P</string>
    <string>Rho</string>
  </array>
  <key>@_P1</key>
  <array>
    <string>P</string>
    <string>Rho</string>
  </array>
  <key>@_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>@_G1</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>@_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@_r1</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Euro</string>
  </array>
  <key>@_C1</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Euro</string>
  </array>
  <key>@_alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>@_alpha1</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>@_beta</key>
  <array>
    <string>beta</string>
    <string>theta</string>
  </array>
  <key>@_beta1</key>
  <array>
    <string>beta</string>
    <string>theta</string>
  </array>
  <key>@_phi</key>
  <array>
    <string>phi</string>
    <string>psi</string>
  </array>
  <key>@_phi1</key>
  <array>
    <string>phi</string>
    <string>psi</string>
  </array>
  <key>@_copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
    <string>at</string>
  </array>
  <key>@_copyright1</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
    <string>at</string>
  </array>
  <key>@_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>utilde</string>
    <string>uring</string>
  </array>
  <key>@_u1</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>utilde</string>
    <string>uring</string>
  </array>
  <key>@_upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@_upsilon1</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>atilde</string>
    <string>aring</string>
    <string>asciitilde</string>
  </array>
  <key>@_a1</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>atilde</string>
    <string>aring</string>
    <string>asciitilde</string>
  </array>
  <key>@_v</key>
  <array>
    <string>v</string>
    <string>nu</string>
    <string>tau</string>
    <string>gamma</string>
  </array>
  <key>@_v1</key>
  <array>
    <string>v</string>
    <string>nu</string>
    <string>tau</string>
    <string>gamma</string>
  </array>
  <key>@_xi</key>
  <array>
    <string>xi</string>
    <string>zeta</string>
  </array>
  <key>@_xi1</key>
  <array>
    <string>xi</string>
    <string>zeta</string>
  </array>
  <key>@_B</key>
  <array>
    <string>B</string>
    <string>Beta</string>
    <string>R</string>
  </array>
  <key>@_B1</key>
  <array>
    <string>B</string>
    <string>Beta</string>
    <string>R</string>
  </array>
  <key>@_colon</key>
  <array>
    <string>colon</string>
    <string>dieresistonos</string>
  </array>
  <key>@_colon1</key>
  <array>
    <string>colon</string>
    <string>dieresistonos</string>
  </array>
  <key>@_J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>@_J1</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>@_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>semicolon</string>
  </array>
  <key>@_comma1</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>semicolon</string>
  </array>
  <key>@_H</key>
  <array>
    <string>H</string>
    <string>Etatonos</string>
    <string>Eta</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Pi</string>
  </array>
  <key>@_H1</key>
  <array>
    <string>H</string>
    <string>Etatonos</string>
    <string>Eta</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Pi</string>
  </array>
  <key>@_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>@_y1</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>@_o</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>otilde</string>
    <string>delta</string>
  </array>
  <key>@_o1</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>otilde</string>
    <string>delta</string>
  </array>
  <key>@_I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
    <string>Idotaccent</string>
  </array>
  <key>@_I1</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
    <string>Idotaccent</string>
  </array>
  <key>@_N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
    <string>Eng</string>
  </array>
  <key>@_N1</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
    <string>Eng</string>
  </array>
  <key>@_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@_Racute1</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@_quotedblleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@_quotedblleft1</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@_kappa</key>
  <array>
    <string>kappa</string>
    <string>kgreenlandic</string>
  </array>
  <key>@_kappa1</key>
  <array>
    <string>kappa</string>
    <string>kgreenlandic</string>
  </array>
  <key>@_omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@_omega1</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@_Omegagreek</key>
  <array>
    <string>Omegagreek</string>
    <string>Omegatonos</string>
  </array>
  <key>@_Omegagreek1</key>
  <array>
    <string>Omegagreek</string>
    <string>Omegatonos</string>
  </array>
  <key>@_Phi</key>
  <array>
    <string>Phi</string>
    <string>Psi</string>
  </array>
  <key>@_Phi1</key>
  <array>
    <string>Phi</string>
    <string>Psi</string>
  </array>
  <key>@_fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@_fraction1</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni021B</string>
    <string>tcedilla</string>
    <string>tbar</string>
    <string>f</string>
  </array>
  <key>@_t1</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni021B</string>
    <string>tcedilla</string>
    <string>tbar</string>
    <string>f</string>
  </array>
  <key>@_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@_Racute1</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>x</string>
  </array>
  <key>@_z1</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>x</string>
  </array>
  <key>@_K</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcommaaccent</string>
  </array>
  <key>@_K1</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcommaaccent</string>
  </array>
  <key>@_D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>@_D1</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>@_h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>hbar</string>
  </array>
  <key>@_h1</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>hbar</string>
  </array>
  <key>@_mu</key>
  <array>
    <string>mu</string>
    <string>mugreek</string>
    <string>pi</string>
  </array>
  <key>@_mu1</key>
  <array>
    <string>mu</string>
    <string>mugreek</string>
    <string>pi</string>
  </array>
  <key>@_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@_equal1</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@_n</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>m</string>
  </array>
  <key>@_n1</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>m</string>
  </array>
  <key>@_guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@_guillemotright1</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dslash</string>
  </array>
  <key>@_d1</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dslash</string>
  </array>
  <key>@_exclam</key>
  <array>
    <string>exclam</string>
    <string>exclamdown</string>
  </array>
  <key>@_exclam1</key>
  <array>
    <string>exclam</string>
    <string>exclamdown</string>
  </array>
  <key>@_W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>@_W1</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>@_w</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>@_w1</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>@_V</key>
  <array>
    <string>V</string>
    <string>V.alt</string>
  </array>
  <key>@_V1</key>
  <array>
    <string>V</string>
    <string>V.alt</string>
  </array>
</dict>
</plist>