<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
  </array>
  <key>@MMK_R_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
  </array>
  <key>@MMK_L_M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@MMK_R_M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@MMK_L_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
  </array>
  <key>@MMK_L_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_R_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
  </array>
  <key>@MMK_L_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>@MMK_R_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>@MMK_L_copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>@MMK_R_copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>@MMK_L_upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@MMK_R_upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@MMK_L_nu</key>
  <array>
    <string>nu</string>
    <string>v</string>
  </array>
  <key>@MMK_R_nu</key>
  <array>
    <string>nu</string>
    <string>v</string>
  </array>
  <key>@MMK_L_Eta</key>
  <array>
    <string>Eta</string>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>@MMK_R_Eta</key>
  <array>
    <string>Eta</string>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>@MMK_L_N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
  </array>
  <key>@MMK_R_N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
  </array>
  <key>@MMK_L_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_R_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_L_omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@MMK_R_omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@MMK_L_fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@MMK_R_fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@MMK_L_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_R_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_L_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_R_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
</dict>
</plist>