<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>@MMK_R_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>@MMK_L_F</key>
  <array>
    <string>F</string>
    <string>Gamma</string>
  </array>
  <key>@MMK_R_F</key>
  <array>
    <string>F</string>
    <string>Gamma</string>
  </array>
  <key>@MMK_L_c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cent</string>
  </array>
  <key>@MMK_R_c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cent</string>
  </array>
  <key>@MMK_L_p</key>
  <array>
    <string>p</string>
    <string>rho</string>
  </array>
  <key>@MMK_R_p</key>
  <array>
    <string>p</string>
    <string>rho</string>
  </array>
  <key>@MMK_L_epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>@MMK_R_epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>@MMK_L_eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>@MMK_R_eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>@MMK_L_T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
  </array>
  <key>@MMK_R_T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
  </array>
  <key>@MMK_L_E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
  </array>
  <key>@MMK_R_E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
  </array>
  <key>@MMK_L_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>dollar</string>
  </array>
  <key>@MMK_R_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>dollar</string>
  </array>
  <key>@MMK_L_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
  </array>
  <key>@MMK_R_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
  </array>
  <key>@MMK_L_dotlessi</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>iotatonos</string>
    <string>itilde</string>
  </array>
  <key>@MMK_R_dotlessi</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>iotatonos</string>
    <string>itilde</string>
  </array>
  <key>@MMK_L_Chi</key>
  <array>
    <string>Chi</string>
    <string>X</string>
  </array>
  <key>@MMK_R_Chi</key>
  <array>
    <string>Chi</string>
    <string>X</string>
  </array>
  <key>@MMK_L_M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@MMK_R_M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>@MMK_L_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_R_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_L_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>q</string>
  </array>
  <key>@MMK_R_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>q</string>
  </array>
  <key>@MMK_L_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
    <string>Lambda</string>
  </array>
  <key>@MMK_L_k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>@MMK_R_k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>@MMK_L_L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
  </array>
  <key>@MMK_R_L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
  </array>
  <key>@MMK_L_e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@MMK_R_e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@MMK_L_Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_R_Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_L_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_R_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_L_dotaccent</key>
  <array>
    <string>dotaccent</string>
    <string>ellipsis</string>
  </array>
  <key>@MMK_R_dotaccent</key>
  <array>
    <string>dotaccent</string>
    <string>ellipsis</string>
  </array>
  <key>@MMK_L_l</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
  </array>
  <key>@MMK_R_l</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
  </array>
  <key>@MMK_L_dotlessj</key>
  <array>
    <string>dotlessj</string>
    <string>j</string>
    <string>jcircumflex</string>
  </array>
  <key>@MMK_R_dotlessj</key>
  <array>
    <string>dotlessj</string>
    <string>j</string>
    <string>jcircumflex</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
  </array>
  <key>@MMK_L_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>@MMK_R_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>@MMK_L_P</key>
  <array>
    <string>P</string>
    <string>R</string>
    <string>Rho</string>
  </array>
  <key>@MMK_R_P</key>
  <array>
    <string>P</string>
    <string>R</string>
    <string>Rho</string>
  </array>
  <key>@MMK_L_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>@MMK_R_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>@MMK_L_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@MMK_R_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@MMK_L_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>@MMK_R_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>@MMK_L_alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>@MMK_R_alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>@MMK_L_copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>@MMK_R_copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>@MMK_L_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>utilde</string>
  </array>
  <key>@MMK_R_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>utilde</string>
  </array>
  <key>@MMK_L_upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@MMK_R_upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>@MMK_L_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>atilde</string>
  </array>
  <key>@MMK_R_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>atilde</string>
  </array>
  <key>@MMK_L_nu</key>
  <array>
    <string>nu</string>
    <string>v</string>
  </array>
  <key>@MMK_R_nu</key>
  <array>
    <string>nu</string>
    <string>v</string>
  </array>
  <key>@MMK_L_B</key>
  <array>
    <string>B</string>
    <string>Beta</string>
  </array>
  <key>@MMK_R_B</key>
  <array>
    <string>B</string>
    <string>Beta</string>
  </array>
  <key>@MMK_L_colon</key>
  <array>
    <string>colon</string>
    <string>dieresistonos</string>
  </array>
  <key>@MMK_R_colon</key>
  <array>
    <string>colon</string>
    <string>dieresistonos</string>
  </array>
  <key>@MMK_L_J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>@MMK_R_J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>@MMK_L_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_R_comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_L_Eta</key>
  <array>
    <string>Eta</string>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>@MMK_R_Eta</key>
  <array>
    <string>Eta</string>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>@MMK_L_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_R_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_L_o</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>otilde</string>
  </array>
  <key>@MMK_R_o</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>otilde</string>
  </array>
  <key>@MMK_L_I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idot</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
  </array>
  <key>@MMK_R_I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idot</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
  </array>
  <key>@MMK_L_N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
  </array>
  <key>@MMK_R_N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
  </array>
  <key>@MMK_L_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_R_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_L_quotedblleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@MMK_R_quotedblleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@MMK_L_kappa</key>
  <array>
    <string>kappa</string>
    <string>kgreenlandic</string>
  </array>
  <key>@MMK_R_kappa</key>
  <array>
    <string>kappa</string>
    <string>kgreenlandic</string>
  </array>
  <key>@MMK_L_omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@MMK_R_omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>@MMK_L_fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@MMK_R_fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>@MMK_L_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
  </array>
  <key>@MMK_R_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
  </array>
  <key>@MMK_L_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_R_Racute</key>
  <array>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>parenright</string>
  </array>
  <key>@MMK_L_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>@MMK_R_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>@MMK_L_K</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcommaaccent</string>
  </array>
  <key>@MMK_R_K</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcommaaccent</string>
  </array>
  <key>@MMK_L_D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>@MMK_R_D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>@MMK_L_h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>@MMK_R_h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>@MMK_L_mu</key>
  <array>
    <string>mu</string>
    <string>mugreek</string>
  </array>
  <key>@MMK_R_mu</key>
  <array>
    <string>mu</string>
    <string>mugreek</string>
  </array>
  <key>@MMK_L_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_R_equal</key>
  <array>
    <string>equal</string>
    <string>hyphen</string>
    <string>overscore</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>@MMK_L_n</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_R_n</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_L_guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@MMK_R_guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@MMK_L_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
  </array>
  <key>@MMK_R_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
  </array>
</dict>
</plist>