<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
</dict>
</plist>
