<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>dotlessi</key>
  <array>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotatonos</string>
  </array>
  <key>u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>utilde</string>
  </array>
  <key>r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>grave</key>
  <array>
    <string>grave</string>
    <string>gravecomb</string>
  </array>
  <key>O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>zero</string>
  </array>
  <key>B</key>
  <array>
    <string>B</string>
    <string>Beta</string>
  </array>
  <key>dotlessj</key>
  <array>
    <string>dotlessj</string>
    <string>j</string>
  </array>
  <key>hyphen</key>
  <array>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>underscore</string>
  </array>
  <key>odieresis</key>
  <array>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>otilde</string>
  </array>
  <key>fraction</key>
  <array>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Utilde</string>
  </array>
  <key>upsilondieresis</key>
  <array>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iotatonos</string>
  </array>
  <key>dotaccent</key>
  <array>
    <string>dotaccent</string>
    <string>dotaccentcomb</string>
  </array>
  <key>e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>eogonek</string>
  </array>
  <key>y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>uni021A</string>
  </array>
  <key>acute</key>
  <array>
    <string>acute</string>
    <string>acutecomb</string>
    <string>tonos</string>
    <string>tonoscomb</string>
  </array>
  <key>G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>tilde</key>
  <array>
    <string>tilde</string>
    <string>tildecomb</string>
  </array>
  <key>E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
  </array>
  <key>a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>atilde</string>
  </array>
  <key>l</key>
  <array>
    <string>l</string>
    <string>lcaron</string>
    <string>ldot</string>
  </array>
  <key>Upsilontonos</key>
  <array>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>macroncomb</key>
  <array>
    <string>macroncomb</string>
    <string>overscore</string>
  </array>
  <key>dieresis</key>
  <array>
    <string>dieresis</string>
    <string>dieresiscomb</string>
  </array>
  <key>kappa</key>
  <array>
    <string>kappa</string>
    <string>kgreenlandic</string>
  </array>
  <key>comma</key>
  <array>
    <string>comma</string>
    <string>commaaccent</string>
    <string>commaturnedbelowcomb</string>
  </array>
  <key>N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>Nu</string>
  </array>
  <key>C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>Icircumflex</key>
  <array>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Itilde</string>
  </array>
  <key>k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>nu</key>
  <array>
    <string>nu</string>
    <string>v</string>
  </array>
  <key>cacute</key>
  <array>
    <string>cacute</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>scedilla</key>
  <array>
    <string>scedilla</string>
    <string>scommaaccent</string>
  </array>
  <key>i</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iotadieresistonos</string>
    <string>itilde</string>
  </array>
  <key>K</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcommaaccent</string>
  </array>
  <key>M</key>
  <array>
    <string>M</string>
    <string>Mu</string>
  </array>
  <key>Eta</key>
  <array>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>t</key>
  <array>
    <string>t</string>
    <string>tcedilla</string>
    <string>uni021B</string>
  </array>
  <key>ring</key>
  <array>
    <string>ring</string>
    <string>ringcomb</string>
  </array>
  <key>breve</key>
  <array>
    <string>breve</string>
    <string>brevecomb</string>
  </array>
  <key>ecaron</key>
  <array>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>egrave</string>
    <string>emacron</string>
  </array>
  <key>Chi</key>
  <array>
    <string>Chi</string>
    <string>X</string>
  </array>
  <key>V</key>
  <array>
    <string>V</string>
    <string>V_alt</string>
  </array>
  <key>D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
  </array>
  <key>w</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>circumflex</key>
  <array>
    <string>circumflex</string>
    <string>circumflexcomb</string>
  </array>
  <key>quotedblbase</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>Scaron</key>
  <array>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>g</key>
  <array>
    <string>g</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>hungarumlaut</key>
  <array>
    <string>hungarumlaut</string>
    <string>hungarumlautcomb</string>
  </array>
  <key>L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Ldot</string>
  </array>
  <key>lacute</key>
  <array>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>scaron</key>
  <array>
    <string>scaron</string>
    <string>scircumflex</string>
  </array>
  <key>caron</key>
  <array>
    <string>caron</string>
    <string>caroncomb</string>
  </array>
  <key>A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Atilde</string>
  </array>
  <key>commaturnedabove</key>
  <array>
    <string>commaturnedabove</string>
    <string>commaturnedabovecomb</string>
  </array>
  <key>ogonek</key>
  <array>
    <string>ogonek</string>
    <string>ogonekcomb</string>
  </array>
  <key>P</key>
  <array>
    <string>P</string>
    <string>Rho</string>
  </array>
  <key>epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>oacute</key>
  <array>
    <string>oacute</string>
    <string>ohungarumlaut</string>
    <string>omicron</string>
    <string>omicrontonos</string>
  </array>
  <key>cedilla</key>
  <array>
    <string>cedilla</string>
    <string>cedillacomb</string>
  </array>
  <key>dieresistonos</key>
  <array>
    <string>dieresistonos</string>
    <string>dieresistonoscomb</string>
  </array>
  <key>S</key>
  <array>
    <string>S</string>
    <string>Scedilla</string>
  </array>
</dict>
</plist>